.view-dynamic-channel-latest-section .latest_wrapper .latest_label {
background-color: #642f7a;
font-size: 17px;
float: left;
color: #FFFFFF;
font-family: 'Georgia', serif;
height: 52px;
width: 102px;
padding: 10px;
line-height: 17px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}