@media screen and (max-width: 700px) {

	@import "compass";
	@import "compass/reset";

//Variables

$light-orange: #F3C6A7;
$orange: #e37222;
$dark-orange: #D55A17;
$white: #ffffff;
$black: #000000;
$light-gray: #edefef;
$gray: #cecdcd;
$dark-gray: #cccccc;
$darker-gray: #333333;
$blue: #00abee;
$red: #cd1e2b;
$mck_blue: #082040;
$mck_footer_blue: #01285f;

$purple_bto: #632F7A;
$orange-bto: #642f7a;
$magenta_ops: #AD0059;
$orange-ops: #AD0059;

$light-orange-ops: #edefee;
$dark-orange-ops: #9f0058;
$light-orange-bto: #edefee;
$dark-orange-bto: #562179;

$font-size-huge: 17px;
$font-size-bigger: 13px;
$font-size-big: 12px;
$font-size-normal: 11px;
$font-size-small: 10px;

$font-face-title: Georgia, serif;
$font-face-body: Arial, sans-serif;


//Global Styles

html {
	-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}

body {
	@extend .body-text;
	@include box-sizing(border-box);

	padding-top: 40px;
	padding-bottom: 50px;
}

img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}
.color-purple {
	color: #642F7A;
}
.color-magenta {
	color: #AD0059;
}
.color-orange {
	color: #E27120;
}
#views_infinite_scroll-ajax-loader img {
	width: auto;
}

.clearfix {
		// @include clearfix;
		&:before,
		&:after {
			content:"";
			display:table;
		}
		&:after {
			clear:both;
		}
	}

	.mobile-box {
		margin: 5px 3%;
		width: 94%;
		@include box-sizing(border-box);
		// @include box-sizing(border-box);
	}

	.modal-box {
		@include box-sizing(border-box);
		position: fixed;
		left: 3%;
		right: 3%;
		width: 94%;
	}

	.title-text {
		font-family: $font-face-title;
		font-size: $font-size-huge;
		color: $white;
		white-space: normal;
	}

	.subheader {
		font-family: $font-face-body;
		font-size: $font-size-bigger;
		font-weight: bold;
		//color: $orange;
		margin-bottom: 10px;
	}

    // ishan: color change
    .body-orginaction .subheader {
    	color: $orange;
    }
    .body-opsinaction .subheader {
    	color: $orange-ops;
    }
    .body-btoacademy .subheader {
    	color: $orange-bto;
    }

    .video-title {
    	text-decoration: none;
    	font-family: $font-face-body;
    	font-weight: bold;
    	font-size: $font-size-normal;
    	color: $darker-gray;
    	white-space: normal;
    }

    .body-text {
    	font-family: $font-face-body;
    	font-size: $font-size-normal;
    	line-height: $font-size-big;
    	font-weight: normal;
    	color: $darker-gray;
    	white-space: normal;
    }

    .disclaimer-text {
    	font-family: $font-face-body;
    	font-weight: bold;
    	font-size: $font-size-small;
    	color: $red;
    	white-space: normal;
    }

    .link-text {
    	font-size: $font-size-normal;
    	font-family: $font-face-body;
    	font-weight: bold;
    	color: $blue;
    	white-space: normal;
    }

    .fixed-top {
    	width: 100%;
    	position: fixed;
    	top: 0;
    	left: 0;
    	z-index: 100;
    }

    .fixed-bottom {
    	width: 100%;
    	position: fixed;
    	bottom: 0;
    	left: 0;
    	z-index: 100;
    }

    .icon-bar {
    	display: block;
    	width: 20px;
    	background-color: $white;
    	height: 3px;
    	margin-bottom: 3px;
    	border-radius: 1px;
    	@include box-shadow(rgba($black, 0.25) 0px -1px 0px);
		// box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	}

	button.nav-btn {
		// width: 32px;
		float: left;
		background: none;
		border: none;
		cursor: pointer;
	}

	#lightbox2-overlay {
		position: fixed;
		height: 100%;
		background-color: rgba($black, 0.5);
	}

	.welcome-mobile {
		text-align: center;
		font-size: $font-size-normal;
		font-family: $font-face-title;
		font-weight: bold;
		margin: 5px;
	}

	.button {
		@include box-sizing(border-box);
		@extend .body-text;
		background-color: #93d9f9; // Old browsers
		@include filter-gradient(#93d9f9, #0e8bc4, vertical); // IE6-9
		@include background-image(linear-gradient(top,  #93d9f9 0%,#019fe7 49%,#019fe7 50%,#0e8bc4 100%));
		border: none;
		@include border-radius(5px);
		@include single-box-shadow(rgba($black, 0.25), 0, 2px, 2px, false, false);
		@include text-shadow(rgba($black, 0.5) 0 -1px);
		text-align: center;
		color: $white;

		&.unpressed {
			background-color: #2a789c; // Old browsers
			@include filter-gradient(#2a789c, #184052, vertical); // IE6-9
			@include background-image(linear-gradient(top,  #2a789c 0%,#15485f 50%,#184052 100%));
			text-align: center;
			@include border-radius(5px);
			@include single-box-shadow(rgba($black, 0.25), 0, 2px, 2px, false, false);
			@include text-shadow(rgba($black, 0.5) 0 -1px);
			color: $white;
			border: none;
		}

		a, p {
			display: inline-block;
			color: $white;
			padding: 2px 6px;
			text-decoration: none;
		}
	}

	.button-large {
		@extend .button;
		
		width: 86%;
		margin: 10px 7%;
		@include border-radius(7px);
		a, p {
			@extend .subheader;
			margin: 0;
			padding: 10px;
		}
	}

	.escape-view {
		float: left;

		.view-content {
			margin: 0;

			.views-row {
				padding: 0;
				border: none;

				.views-field {
					width: 100%;
				}
			}
		}
	}

	.cross-button {
		position: absolute;
		bottom: 1px;
		right: 3px;
		background: $darker-gray;
		@extend .body-text;
		color: $white;
		width: 20px;
		text-align: center;
		display: inline-block;
		font-size: $font-size-huge;
		line-height: 20px;
		height: 20px;
		border-radius: 20px;
	}

	.view-empty {
		text-align: center;
		margin-top: 20px;
		@extend .mobile-box;
	}

	button.close {
		float: right;
		color: $red;

		background-color: $white; // Old browsers
		@include filter-gradient($white, $light-gray, horizontal); // IE6-9 fallback on horizontal gradient
		@include background-image(linear-gradient(left top,  $white 0%, $light-gray 100%));

		border: 1px solid $gray;
		padding: 0 2px;
		line-height: 11px;
	}

	.modal {
		display: none;
		@extend .modal-box;
		// position: fixed;
		z-index: 200;
		background: $light-gray;
		top: 20%;
		// @include box-sizing(border-box);
		padding: 10px;
		@include box-shadow(rgba($black, 0.5) 0px 5px 10px);

		.modal-header {
			@extend .clearfix;

			h3 {
				@extend .subheader;
				margin-top: 0;
			}
		}

		.modal-body {
			background-color: $white;
			padding: 10px;

			h5 {
				@extend .video-title;
				margin: 5px 0;
			}

			p {
				@extend .body-text;
			}
		}
	}

	.jwplayer-video {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
		.jwplayer {
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
			height: 100% !important;
		}
	}

	#autocomplete li {
		padding: 10px;
		@extend .body-text;
	}

	.sort-by-collapsible {
		@extend .mobile-box;

		.form-item-sort-by {
			label {
				@extend .subheader;
				display: inline-block;
				color: $darker-gray;

				&::after {
					@include box-sizing(border-box);
					background-color: $blue;
					@include border-radius(15px);
					color: $white;
					content: ">";
					display: inline-block;
					font-weight: bold;
					font-size: $font-size-bigger;
					padding: 0 4px;
					width: 15px;
					line-height: 15px;
				}

				&.pressed::after {
					content: "v";
				}
			}

			.bef-select-as-links {
				border: 1px solid $gray;
				@include border-radius(10px);
				margin: 10px 0;
				overflow: hidden;
				display: none;

				.form-type-bef-link {
					border-bottom: 1px solid $gray;

					a {
						padding: 10px;
						display: block;
						@extend .video-title;
					}

					&.selected a {
			    		background-color: #93d9f9; // Old browsers
			    		@include filter-gradient(#93d9f9, #0e8bc4, vertical); // IE6-9
			    		@include background-image(linear-gradient(top,  #93d9f9 0%,#019fe7 49%,#019fe7 50%,#0e8bc4 100%));
			    		@include text-shadow(rgba($black, 0.5) 0 -1px);
			    		color: $white;
			    	}

			    	&:last-child {
			    		border: none;
			    	}
			    }
			}
		}
	}



	#views-exposed-form-home-page-video-listing-page-4{
		@extend .sort-by-collapsible ;
		.views-widget-sort-by{
			width: 100%;
		}

	}


	#block-custom-ovl-noti-block {
		display: none;
		@extend .modal-box;
		background-color: $light-gray;
		// position: fixed;
		top: 20%;
		z-index: 110;
		padding: 10px;
		@include box-shadow(rgba($black, 0.5) 0px 5px 10px);
		// @extend .modal;

		h2 {
			@extend .subheader;
		}

		#edit-subscriptions {
			background-color: $white;

			legend {
				@extend .hidden-phone;
			}

			.fieldset-wrapper {
				position: relative;
				// height: 350px;
				padding: 10px;

				.fieldset-description {
					@extend .hidden-phone;
				}

				#edit-new, #edit-emai-textl {
					@extend .video-title;
					margin: 5px 0;
				}

				.form-item-newsletters-50 {
					margin-top: 20px;
				}

				
				// .form-item-newsletters-1 {
				// 	position: absolute;
				// 	top: 180px;
				// }

				.fequency {
					margin: 5px 0 10px 0;
					@extend .clearfix;

					.newsletter-frequency {
						// display: inline-block;
						// float: left;

						input[type=radio] {
							display: none;
							margin: 10px;

							& + label {
								margin: -2px;
								display: inline-block;
								padding: 7px 10px;
								// color: $white;
								background-color: #2a789c; // Old browsers
								@include filter-gradient(#2a789c, #184052, vertical); // IE6-9
								@include background-image(linear-gradient(top,  #2a789c 0%,#15485f 50%,#184052 100%));
								text-align: center;
								// @include border-radius(5px);
								// @include single-box-shadow(rgba($black, 0.25), 0, 2px, 2px, false, false);
								@include text-shadow(rgba($black, 0.5) 0 -1px);
								color: $white;
								border: none;
							}

							&:checked + label {
								// color: $white;
								// background-image: none;
								// background-color: $darker-gray;
								@include box-sizing(border-box);
								@extend .body-text;
								background-color: #93d9f9; // Old browsers
								@include filter-gradient(#93d9f9, #0e8bc4, vertical); // IE6-9
								@include background-image(linear-gradient(top,  #93d9f9 0%,#019fe7 49%,#019fe7 50%,#0e8bc4 100%));
								border: none;
								// @include border-radius(5px);
								// @include single-box-shadow(rgba($black, 0.25), 0, 2px, 2px, false, false);
								@include text-shadow(rgba($black, 0.5) 0 -1px);
								text-align: center;
								color: $white;
							}
						}


						&.form-item-newsletters-52 label, &.form-item-newsletters-53 label {
							@include border-radius(0);
						}

						&.form-item-newsletters-54 label {
							@include border-radius(0 5px 5px 0);
						}

						&.form-item-newsletters-51 label {
							@include border-radius(5px 0 0 5px);
						}
					}
				}
			}
		}

		input#reset {
			@extend .hidden-phone;
		}

		input#edit-update {
			@extend .button;
			float: right;
			width: 35%;
			padding: 5px;
			margin-top: 10px;
		}
	}

	.hidden-phone {
		display: none !important;
	}

//Mixins



//Custom Styles

	// Hiding stuff
	#logo, 
	#site-name,
	#breadcrumb,
	#block-views-comments-recent-block, 
	#block-system-main-menu,
	#block-menu-menu-ops-main-menu,
	#block-menu-menu-bto-academy, 
	#block-block-6,
	#block-block-8, 
	#views_slideshow_controls_text_featured_vedios-block,
	// #block-system-main .view-filters, 
	#block-views-comments-recent-block,
	#tasks, 
	footer #block-block-3,
	#block-views-logging-block,
	#block-superfish-1 {
		@extend .hidden-phone;
	}

	.region-sidebar-first {
		display: none;
	}

	#block-block-4 {
		@extend .fixed-bottom;
		font-size: $font-size-small;
		font-weight: bold;
		padding: 5px 4px;
		background: $mck_footer_blue;
		color: #ffffff;

		a {
			color: #ffffff;
			text-decoration: none;
		}
		ul.user {
			@include inline-block-list;
			margin-bottom: 3px;

			li {
				@include inline-block-list-item;
				border-right: 1px solid #ffffff;
				margin-right: 2%;
				padding-right: 2%;

				&.first {
					display: none;
				}

				&.last {
					border: none;
				}
			}
		}
		.copyright {
			font-weight: normal;
		}
	}

	// ishan: change mobile color
	// .body-orginaction #block-block-4 {
	// 	background: $orange;
	// }
	// .body-opsinaction #block-block-4 {
	// 	background: $orange-ops;
	// }
	// .body-btoacademy #block-block-4 {
	// 	background: $orange-bto;
	// }
	
	#block-menu-menu-main-menu-mobile, 
	#block-menu-menu-main-menu-mobile-ops, 
	#block-menu-menu-main-menu-mobile-bto,
	#block-menu-menu-global-mobile-menu {
		@extend .fixed-top;
		
		.mobile-nav {
			background: $mck_blue;
			height: 25px;
			padding: 5px 0;
			@include box-shadow(rgba($black, 0.5) 0px 4px 5px);

			.nav-btn {
				padding: 1%;
			}

			.block-title, h2 {
				@extend .title-text;
				
				margin-top: 5px;
				width: 88%;
				text-align: center;
				//margin-right: 4px;

				// @media screen and (max-width: 340px) {
				// 	margin-top: 8px;
				// 	font-size: $font-size-bigger;
				// }

			}
		}

		ul.menu {
			display: none;
			width: 90%;
			margin: 0 5%;
			background: $blue;
			font-size: $font-size-bigger;
			@include box-shadow(rgba($black, 0.25) 0px 5px 5px);
			padding-top: 40px;
			overflow-y: auto;
			position: relative;
			top: -40px;
			z-index: -1;
			@include no-bullets;

			li {
				margin: 0;
				padding: 0;
				font-weight: bold;
				width: 100%;

				&.last a {
					border: none;
				}

				a {

					padding: 12px 20px;
					text-decoration: none;
					color: $white;
					border-bottom: 2px groove rgba($light-gray, 0.75);
					@include box-sizing(border-box);
					width: 100%;
					display: block;
				}

				&.expanded, &.collapsed {
					padding-top: 0;
				}

				&.expanded::before {
					content: "^";
					display: block;
					color: $white;
					float: right;
					margin: 20px;
					font-size: $font-size-big;
				}

				&.collapsed::before {
					content: "v";
					display: block;
					color: $white;
					float: right;
					margin: 12px 20px;
					font-size: $font-size-bigger;
				}

				ul.menu {
					@include box-shadow(none);
					display: none;
					overflow-y: visible;
					z-index: 110;
					width: 100%;
					margin: 0;
					padding: 0;
					top: 0;
					background: #cde0ed;

					li {
						a {
							color: $darker-gray;
						}
					}
				}
			}
		}
	}

// ishan: mobile color change
.body-orginaction {
	.menu-strip{
		background: $orange;
	}
	#block-search-form .apachesolr-autocomplete {
		margin-top: 40px;
	}
	.region-secondary-content{
		margin-top: 36px;
	}
	.block-facetapi-category, .block-facetapi-date ,.block-facetapi-library{
		h2 {
			background-color: $orange !important;
		}
	}
	#block-apachesolr-search-sort .item-list ul li a.active{
		background-color: $orange !important;
		
	}
}

.body-opsinaction {
	.menu-strip{
		background: $magenta_ops;
	}
	#block-search-form .apachesolr-autocomplete {
		margin-top: 40px;
	}
	.region-secondary-content{
		margin-top: 36px;
	}
	.block-facetapi-category, .block-facetapi-date ,.block-facetapi-library{
		h2 {
			background-color: $magenta_ops !important;
		}
	}
	#block-apachesolr-search-sort .item-list ul li a.active{
		background-color: $magenta_ops !important;
		
	}

}

.body-btoacademy {
	.menu-strip{
		background: $purple_bto;
	}
	#block-search-form .apachesolr-autocomplete {
		margin-top: 40px;
	}
	.region-secondary-content{
		margin-top: 36px;
	}
	.block-facetapi-category, .block-facetapi-date ,.block-facetapi-library{
		h2 {
			background-color: $purple_bto !important;
		}
	}
	#block-apachesolr-search-sort .item-list ul li a.active{
		background-color: $purple_bto !important;
		
	}

}		


#block-views-global-popular-video-block{
	width: 100%;
	.views_slideshow_slide {
		width: 100% !important;
		height: auto !important;
				// position: relative !important;
			}
			.video-info{
				width: 100%;
				padding: 10px;
				@extend .clearfix;
				@include box-sizing(border-box);
				h2 {
					@extend .subheader;
					border-bottom: 1px solid $gray;
					padding: 4px 0 6px;
				}

			}
			.video-title{
				@extend .video-title;
				a{
					color: $darker-gray;
				}
			}
			.video-body {
				@extend .body-text;
				float: left;
				min-height: 24px;
			}
			.video-thumb{
				position: relative;
			}
			.video-view {
				@extend .link-text;
				a{
					color: $darker-gray;
				}
			}
			.pl-bn {
				// position: relative;

				.play-button {
					position: absolute;
					top: 30%;
					left: 40%;
					width: 20%;
					opacity: 0.75;
				}
			}
			.video_duration {
				position: absolute;
				bottom: 2px;
				right: 10px;
				padding: 5px;
				font-size: $font-size-big;
				font-weight: bold;
				font-family: $font-face-body;
				background-color: $dark-gray;
				color: $darker-gray;
			}
			.views-slideshow-controls-bottom {
				margin: 10px 0 2px;
				position: relative;
				text-align: center;
				z-index: 5;

				.views-slideshow-pager-field-item {
					background-color: $gray;
					width: 12px;
					height: 12px;
					border-radius: 50%;
					text-indent: -9999em;
					overflow: hidden;
					display: inline-block;
					margin: 0 1px;

					&.active {
						background-color: $blue;
					}
				}
			}

		}
		.views-slideshow-controls-text {
			bottom: 18px;
			position: relative;
			right: 56px;
		}
		.views-slideshow-controls-text-previous{
			a{
				background: url("../../css/images/arrow_prev.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
				display: inline-block;
				height: 21px;
				text-indent: -9999em;
				width: 23px;
			}
		}
		.views-slideshow-controls-text-next {
			left: 115px;
			position: relative;
			a{
				background: url("../../css/images/arrow_next.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
				display: inline-block;
				height: 23px;
				text-indent: -9999em;
				width: 23px
			}
		}
		#block-block-36{
			position: relative;
		}
		.menu-strip{
			background: none repeat scroll 0 0 #333333;
			@include box-shadow(rgba($black, 0.5) 0px 4px 5px);
			color: #FFFFFF;
			left: 0;
			padding: 6px 4px;
			position: fixed;
			text-align: right;
			top: 35px;
			width: 100%;
			z-index: 99;
			@extend .clearfix;
			.menu-container{
				float: right;

				li{
					float: none;
					font-size: $font-size-small;
					display: inline;
					padding: 0 4px;
					a{
						color: $white;
					}
				}
				.lib-name{
					display: none;
				}
			}
			.post-menu-strip{
				color: #FFFFFF;
				margin: 4px 10px;
				.lib-name{
					@extend .hidden-phone;
				}
				.resources {
					border-left: 1px solid $white;
				}
				.deault{
					font-style: italic;
				}

			}
			.child-lib-name{
				float: left;
				color: #fff;
				margin: 3px 12px;
				a{
					color: $white;
					font-family: $font-face-title;
					font-size: $font-size-huge;
				}
			}

		}
		#menu-strip-name{
			// cursor: pointer;
			// display: inline-block;
			// float: right;
			// margin: 3px 12px;
			// font-weight: bold;
			display: none;
		}


		#block-block-9{
			p{
				@extend .subheader;
				margin: 12px;
			}
		}
		.page-newsletter-subscriptions{
			background: #e9e7e8;
			#page-title,
			#edit-emai-textl{
				@extend .hidden-phone;
			}
			
			.form-item, .form-actions {
				margin: 4px 0;
			}
		}

		#simplenews-subscriptions-page-form {
			#reset, #edit-update {
				display: inline-block;
				float: right;
				margin: 6px 6px 0;
			}
			#edit-update {
				background: url("../../css/images/submit_button.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
				border: 1px solid #1478A9;
				border-radius: 4px;
				color: #FFFFFF;
				display: inline-block;
				font-size: 11px;
				font-weight: bold;
				height: auto;
				padding: 3px 4px;
				text-align: center;
				text-decoration: none;
				width: auto;
			}
			#edit-update:hover {
				text-decoration: none;
				background:  #0974aa;
			}

		}
		#edit-subscriptions{
			margin: 12px;

			#edit-new{
				font-weight: bold;
			}

			.fequency{
				@extend .clearfix;
				.newsletter-frequency,
				form-item-newsletters-54{
					display: inline;
					float: left;
					width: auto;

				}
				input.form-checkbox, input.form-radio {
					vertical-align: bottom;
				}
				// .form-item-newsletters-54{
				// 	clear: both;
				// }
			}
			#edit-newsletters .expanded-newsletter {
				background-image: url("../../css/images/drop-down.png");
			}
			#bto-collapsible {
				background-color: $purple_bto;
			}

			#ops-collapsible {
				background-color: $magenta_ops;
			}
			#org-collapsible {
				background-color: $orange;
			}
			#org-collapsible, #bto-collapsible, #ops-collapsible {
				background-image: url("../../css/images/drop-right.png");
				background-position: 99% center;
				background-repeat: no-repeat;
			}
			.main-cat {
				color: #FFFFFF;
				cursor: pointer;
				font-weight: bold;
				margin: 24px 0 0;
				padding: 8px 5px;
			}
			#bto-newsletter, #ops-newsletter, #org-newsletter {
				background: none repeat scroll 0 0 #FFFFFF;
				padding: 12px 24px;
				.category_label{
					margin-top: 12px;
				}
			}
			#edit-newsletters{
				clear: both;
				overflow: hidden;
				display: block;
			}
		}
		#block-block-35{
			h1{
				@extend .subheader;
				margin: 12px 8px;

			}
		}
		#block-views-child-library-block-block-2,
		#block-views-child-library-block-block-5{
			.view-header{
				background: $purple_bto;
			}
		}					
		#block-views-child-library-block-block-3,
		#block-views-child-library-block-block{
			.view-header{
				background: $orange;
			}
		}					
		#block-views-child-library-block-block-1,
		#block-views-child-library-block-block-4{
			.view-header{
				background: $magenta_ops;
			}
		}
		.available_channels_block{
			width: 100%;
			margin: 0 0 24px;
			background: $light-gray;

			clear: both;
			display: block;
			overflow: hidden;

			.block-content{
				width: 100%;
				margin: 0 auto;
			}
			.lib_count{
				color: #DADADA;
				float: right;
				font-weight: bold;
				margin-right: 6px;
			}

			.view-header{
				background: $light-orange-ops;
				padding: 7px 8px;
				clear: both;
				display: block;
				overflow: hidden;
				h4{
					font-size: $font-size-normal;
					font-weight: bold;
					color: $white;
					float: left;
				}
			}
			.view-content,.view-footer{
				padding: 12px;
			}
			.views-row {
				padding: 20px 0 0;
				@extend .clearfix;

				&.views-row-first {
					padding-top: 0;
				}
				
				.views-field-field-upload-video {
					width: 50%;
					position: relative;
					margin-left: 0;
					float: left;

					.play-button {
						position: absolute;
						top: 20%;
						left: 30%;
						width: 40%;
						opacity: 0.75;
					}

					.video_duration {
						position: absolute;
						bottom: 2px;
						right: 0;
						padding: 5px;
						font-size: $font-size-big;
						font-weight: bold;
						font-family: $font-face-body;
						background-color: $dark-gray;
						color: $darker-gray;
					}
				}

				.views-field-title{
					margin-left: 3%;
					float: left;
					width: 47%;
					a {
						@extend .video-title;
						margin-bottom: 5px;
					}
				}

				.views-field-body {
					margin-left: 3%;
					float: left;
					width: 47%;
					@extend .body-text;
					margin-bottom: 1.5%;
					margin-top: 4px;
				}
			}
			.views-field-totalcount,
			.views-field-count {
				border-right: 1px solid #666;
				padding-right: 4px;
			}
			.views-field-totalcount, 
			.views-field-count, 
			.views-field-comment-count {
				display: inline-block;
				font-size: $font-size-small;
				font-weight: bold;
				padding: 0 6px;
			}
			.views-field-totalcount{
				margin-left: 3%;
				padding-left: 0;
			}
			.view-footer a {
				display: inline-block;
				font-size: 11px;
				font-weight: bold;
				margin: 6px 0 0;
				color: $blue;
			}
		}
		#node-5{
			ul.inline li {
				padding: 0;
			}
			.content-inner {
				min-height: 0;
			}
		}
		#block-views-most-trending-block,
		#views_slideshow_controls_text_pause_global_popular_video-block,
		.cooment-info {
			@extend .hidden-phone;
		}

		#block-views-featured-vedios-block {
			width: 100%;
			background: $light-gray;

			#views_slideshow_cycle_teaser_section_featured_vedios-block {
			// width: 100% !important;
			// height: auto !important;
			// min-height: 265px;

			.views_slideshow_slide {
				width: 100% !important;
				height: auto !important;
				// position: relative !important;

				.views-field-nothing {
					width: 100%;
					padding: 10px;
					@extend .clearfix;
					@include box-sizing(border-box);

					.feat-videos {
						@extend .subheader;
					}

					.feat-videos-title {
						@extend .video-title;
					}

					.slideshow-body {
						@extend .body-text;
						float: left;
						min-height: 24px;

						.more-link {
							@extend .link-text;
						}
					}

					.feat-videos-view a {
						@extend .link-text;
						@extend .hidden-phone;
						float: left;
						text-decoration: none;
						margin-left: 5px;
					}
				}

				.views-field-field-upload-video {
					position: relative;

					.play-button {
						position: absolute;
						top: 30%;
						left: 40%;
						width: 20%;
						opacity: 0.75;
					}

					.video_duration {
						position: absolute;
						bottom: 10px;
						right: 10px;
						padding: 5px;
						font-size: $font-size-big;
						font-weight: bold;
						font-family: $font-face-body;
						background-color: $dark-gray;
						color: $darker-gray;
					}
				}

				.views-field-nothing-1 {
					@extend .hidden-phone;
				}
			}
		}

		.views-slideshow-controls-bottom {
			text-align: center;
			margin: 3px 0;
			position: relative;
			z-index: 5;

			.views-slideshow-pager-field-item {
				background-color: $gray;
				width: 9px;
				height: 9px;
				border-radius: 50%;
				text-indent: -9999em;
				overflow: hidden;
				display: inline-block;

				&.active {
					background-color: $orange;
				}
			}
		}
	}

	//ishan: 
	.body-orginaction #block-views-featured-vedios-block {
		.views-slideshow-controls-bottom {
			.views-slideshow-pager-field-item {
				&.active {
					background-color: $orange;
				}
			}
		}
	}
	.body-opsinaction #block-views-featured-vedios-block {
		.views-slideshow-controls-bottom {
			.views-slideshow-pager-field-item {
				&.active {
					background-color: $orange-ops;
				}
			}
		}
	}
	.body-btoacademy #block-views-featured-vedios-block {
		.views-slideshow-controls-bottom {
			.views-slideshow-pager-field-item {
				&.active {
					background-color: $orange-bto;
				}
			}
		}
	}

	.all-mobile {
		@extend .subheader;
		margin-left: 3%;
		margin-top: 20px;
	}

	.view-filters {
		display: block;
		.views-submit-button {
			@extend .hidden-phone;
		}
		.views-widget-filter-name {
			@extend .mobile-box;
			position: relative;
			padding: 0;

			label {
				display: none;
			}

			input.form-text {
				@include box-sizing(border-box);
				width: 100%;
				border: 1px solid $dark-gray;
				padding: 2px;
			}

			.reset-cat {
				@extend .cross-button;
			}
		}
	}

	#block-system-main, #block-views-related-video-block {
		.view-content {
			// margin: 20px 10px;

			.views-row {
				padding: 20px 0;
				border-bottom: 1px solid $gray;
				@extend .clearfix;

				&.views-row-first {
					padding-top: 0;
				}

				&.views-row-last {
					border: none;
				}

				// &.views-row-last {
				// 	border-bottom: none;
				// }

				.views-field {
					margin-left: 3%;
					float: left;
					width: 47%;

					&.views-field-field-upload-video {
						width: 50%;
						position: relative;
						margin-left: 0;

						.play-button {
							position: absolute;
							top: 20%;
							left: 30%;
							width: 40%;
							opacity: 0.75;
						}

						.video_duration {
							position: absolute;
							bottom: 2px;
							right: 0;
							padding: 5px;
							font-size: $font-size-big;
							font-weight: bold;
							font-family: $font-face-body;
							background-color: $dark-gray;
							color: $darker-gray;
						}
					}

					&.views-field-title a {
						@extend .video-title;
						margin-bottom: 5px;
					}

					&.views-field-body {
						@extend .body-text;
						margin-bottom: 10px;
					}

					&.views-field-nothing {
						float: none;
						margin-left: 53%;

						.content-statistics {
							@extend .video-title;
							
							.comment_count {
								@extend .link-text;
							}
						}
					}

					&.views-field-field-share {
						width: 90%;
						margin-left: 0;
						@extend .disclaimer-text;
					}

					&.views-field-ops {
						width: 90%;
						margin-left: 0;
						margin-top: 3px;

						a {
							// display: block;
							@extend .button;
							// color: $white;
							display: block;
							padding: 0 5px;
							float: left;
							background-color: #ffbdb7; // Old browsers
							@include filter-gradient(#ffbdb7, #cf0404, vertical); // IE6-9
							@include background-image(linear-gradient(top,  #ffbdb7 0%,#ff3019 46%,#cf0404 100%));
							height: 20px;
							width: 50px;
							overflow: hidden;
							line-height: 20px;
						}

						a.unflagged {
							background: none;
							@extend .link-text;
							// padding: 0;
							@include border-radius(0);
							@include single-box-shadow(none);
							@include text-shadow(none);
							width: auto;
							overflow: visible;
							line-height: 11px;

						}
					}
				}
			}
		}
	}

	#columns {
		#content-column {
			// margin-top: -20px;
			
			.content-inner {
				margin: 0;

				header#main-content-header {

					h1#page-title {
						@extend .video-title;
						@extend .mobile-box;
						margin-top: 5px;
						margin-bottom: 5px;
					}
				}

				.view-content {
					margin: 20px 10px;
				}
			}
		}
	}

	// Home page
	body.home-child {
		.view-filters {
			display: none;
		}
	}

	// All Videos page
	body.page-browse {
		#block-system-main {
			.view-header {
				@extend .mobile-box;
				@extend .subheader;
			}
			.view-filters {
				display: block;
				.views-submit-button {
					@extend .hidden-phone;
				}
				.views-widget-filter-name {
					// @extend .hidden-phone;
				}
				.views-widget-sort-by {
					@extend .sort-by-collapsible;
				}
			}
		}
	}

	// Video Detail page
	body.page-node {
		#content-column {
			background-color: $light-gray;

			#block-system-main{
				.node-content {
					.video-duration,
					// .node-statistics,
					// .node-statistics-like,
					// .like-video,
					// #tasks,
					.recommend,
					.add-to-palylist {
						@extend .hidden-phone;
					}

					// @extend .escape-view;

					.upload-video {
						margin-bottom: 10px;
					}

					.node-statistics {
						// @extend .mobile-box;
						@extend .escape-view;
						margin-right: 5px;
						margin-left: 3%;
						padding-right: 5px;
						border-right: 1px solid $darker-gray;
					}

					.node-statistics-like {
						// @extend .mobile-box;
						@extend .escape-view;
					}

					.like-video {
						// @extend .mobile-box;
						// @extend .escape-view;
						margin-left: 5px;
						float: left;
						position: relative;
						top: -2px;
						@extend .button;
						@include border-radius(2px);
					}

					.share {
						@extend .disclaimer-text;
						@extend .mobile-box;
						margin-top: 35px;
					}

					.node-author {
						@extend .mobile-box;
						strong {
							//color: $orange;
							font-weight: bold;
						}
						a {
							margin-left: 5px;
							text-decoration: none;
							@extend .video-title;
							color: $blue;

							div, ul, li {
								display: inline;
							}
						}
					}

					.body {
						@extend .mobile-box;
					}

					.category {
						@extend .mobile-box;
					}

					.tags {
						@extend .mobile-box;
						ul li {
							float: left;
							border-right: 1px solid $black;
							margin-left: 5px;
							padding-right: 5px;
							
							a {
								@extend .link-text;
							}

							&:last-child {
								border: none;
							}
						}
					}

					.recommend-mobile {
						@extend .button-large;
					}

					.add-to-palylist-mobile {
						@extend .button-large;
					}

					.view-comment {
						@extend .button-large;
					}

					.node-statistics-comment {
						display: none;
						@extend .mobile-box;
						margin: 0;
						margin-top: 20px;

						.view-content {
							margin: 0;

							.views-row {
								padding: 0;
								@extend .video-title;
								border: none;
							}
						}
					}
				}

				#comments {
					display: none;
					@extend .mobile-box;
					padding-bottom: 20px;
					position: relative;

					.comment-title {
						//display: none;
					}

					.comment-form.comment-title {
						@extend .link-text;
						// display: block;
						// position: absolute;
						// left: 0;
						// bottom: 0;

						&::before {
							content: "> ";
							@extend .body-text;
						}
					}

					div#comment-form {
						// @extend .modal;
						@extend .modal-box;
						// position: fixed;
						z-index: 200;
						top: 20%;
						background-color: $light-gray;
						// width: 94%;
						// left: 3%;
						padding: 10px;
						// @include box-sizing(border-box);
						@include box-shadow(rgba($black, 0.5) 0px 5px 10px);

						form#comment-form {
							// @extend .modal;
							

							#edit-author--2 {
								display: none;
							}

							label {
								@extend .subheader;
							}

							input#edit-submit {
								@extend .button;
								float: right;
								padding: 3px 10px;
							}
						}
					}

					.comment-list {
						margin-bottom: 10px;
						position: relative;

						.comment-author {
							// float: left;
							a {
								@extend .link-text;
							}
						}

						.foramt-date {
							// @extend .hidden-phone;
							position: absolute;
							right: 0;
							top: 0;
						}

						.links {
							position: absolute;
							bottom: 0;
							right: 0;

							a {
								@extend .link-text;
							}

							.comment-edit, .comment-reply {
								@extend .hidden-phone;
							}
						}

						.comment-content {
							float: left;
							width: 80%;
							// margin-left: 5px;
						}
					}
				}
			}
		}

		.region-sidebar-second {
			@extend .mobile-box;
			margin-top: 20px;

			.block-title {
				@extend .subheader;
			}

			.view-content {
				// margin: 0;

				.views-row {

					.views-field-title {
						margin-bottom: 5px;
					}
				}
			}
		}
	}

	// Latest Comments page org
	body.page-orginaction-latest-comment {
		#columns {
			#content-column {

				header#main-content-header {
					margin-top: 10px;
					h1#page-title {
						@extend .subheader;
						color: $orange;
					}
				}

				.content-inner {
					#block-system-main {
						.view-latest-comment-mobile {
							@extend .escape-view;
							@extend .mobile-box;

							.view-content {
								.views-row {
									position: relative;
									margin: 10px 0;
									padding: 10px;
									padding-right: 10%;
									@include border-radius(7px);
									background: url('../../css/images/arrow-r-orange.png') 96% 55% no-repeat $light-gray;

									.views-field {
										margin: 0;

										&.views-field-name {
											@extend .subheader;
											color: $orange;
											font-size: $font-size-normal;
											margin-bottom: 0;
										}

										&.views-field-comment-body {
											@extend .body-text;
										}

										&.views-field-nothing a {
											position: absolute;
											left: 0;
											width: 100%;
											height: 100%;
											top: 0;
											text-indent: -9999em;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	// Latest Comments page ops
	body.page-opsinaction-latest-comment {
		#columns {
			#content-column {

				header#main-content-header {
					margin-top: 10px;
					h1#page-title {
						@extend .subheader;
						color: $orange-ops;
					}
				}

				.content-inner {
					#block-system-main {
						.view-latest-comment-mobile {
							@extend .escape-view;
							@extend .mobile-box;

							.view-content {
								.views-row {
									position: relative;
									margin: 10px 0;
									padding: 10px;
									padding-right: 10%;
									@include border-radius(7px);
									background: url('../../css/images/arrow-r-orange.png') 96% 55% no-repeat $light-gray;

									.views-field {
										margin: 0;

										&.views-field-name {
											@extend .subheader;
											color: $orange-ops;
											font-size: $font-size-normal;
											margin-bottom: 0;
										}

										&.views-field-comment-body {
											@extend .body-text;
										}

										&.views-field-nothing a {
											position: absolute;
											left: 0;
											width: 100%;
											height: 100%;
											top: 0;
											text-indent: -9999em;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	// Latest Comments page bto
	body.page-btoacademy-latest-comment {
		#columns {
			#content-column {

				header#main-content-header {
					margin-top: 10px;
					h1#page-title {
						@extend .subheader;
						color: $orange-bto;
					}
				}

				.content-inner {
					#block-system-main {
						.view-latest-comment-mobile {
							@extend .escape-view;
							@extend .mobile-box;

							.view-content {
								.views-row {
									position: relative;
									margin: 10px 0;
									padding: 10px;
									padding-right: 10%;
									@include border-radius(7px);
									background: url('../../css/images/arrow-r-orange.png') 96% 55% no-repeat $light-gray;

									.views-field {
										margin: 0;

										&.views-field-name {
											@extend .subheader;
											color: $orange-bto;
											font-size: $font-size-normal;
											margin-bottom: 0;
										}

										&.views-field-comment-body {
											@extend .body-text;
										}

										&.views-field-nothing a {
											position: absolute;
											left: 0;
											width: 100%;
											height: 100%;
											top: 0;
											text-indent: -9999em;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}		

	// Browse By Category page
	body.page-taxonomy {

		.views-widget-sort-by {
			@extend .sort-by-collapsible;
		}

		#views_slideshow_cycle_main_featured_vedios-block, 
		.views-slideshow-controls-bottom {
			@extend .hidden-phone;
		}

		#block-system-main {
			.view-header {
				@extend .mobile-box;
				@extend .subheader;
			}
			
		}
	}

	// Browse By Tags page
	body.page-tags {

		#views_slideshow_cycle_main_featured_vedios-block,
		.views-slideshow-controls-bottom {
			@extend .hidden-phone;
		}

		#block-system-main {		

			.view-filters {
				display: block;
				#edit-name-wrapper, 
				#edit-tid-wrapper, 
				// .views-widget-sort-by, 
				.views-widget-sort-order, 
				.views-submit-button {
					@extend .hidden-phone;
				}

				.views-widget-sort-by {
					@extend .sort-by-collapsible;
				}

				#edit-tid-1-wrapper {
					@extend .mobile-box;
					position: relative;

					label {
						@extend .subheader;
					}

					#s2id_edit-tid-1 {
						width: 80%;
						margin-right: 3%;
					}

					.reset-cat {
						@extend .cross-button;
						right: 32%;
						bottom: 4px;
					}
				}
			}
		}
	}

    // ishan:
    .body-orginaction .node-author {
    	strong {
    		color: $orange;
    	}
    }
    .body-opsinaction .node-author {
    	strong {
    		color: $orange-ops;
    	}
    }
    .body-btoacademy .node-author {
    	strong {
    		color: $orange-bto;
    	}
    }									

	// My Playlist page
	body.page-my-playlist {
		#block-block-7 {
			@extend .subheader;
			@extend .mobile-box;
		}

		#block-system-main {
			position: relative;
			@extend .mobile-box;

			.view-filters {
				display: block;
				.views-widget-sort-order, .views-submit-button {
					display: none;
				}

				.views-widget-sort-by {
					@extend .mobile-box;

					label {
						display: none;
					}

					.bef-select-as-links {
						#edit-sort-by-timestamp, #edit-sort-by-weight {
							a {
								width: 35%;
								float: left;
								@extend .button;
								// color: $white;
								padding: 5px;
								background-color: #b5bdc8; // Old browsers
								@include filter-gradient(#b5bdc8, #28343b, vertical); // IE6-9
								@include background-image(linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%));
							}
							&.selected a {
								background-color: #93d9f9; // Old browsers
								@include filter-gradient(#93d9f9, #0e8bc4, vertical); // IE6-9
								@include background-image(linear-gradient(top,  #93d9f9 0%,#019fe7 49%,#019fe7 50%,#0e8bc4 100%));
							}
						}
						#edit-sort-by-timestamp a {
							@include border-top-right-radius(0);
							@include border-bottom-right-radius(0);
						}

						#edit-sort-by-weight a {
							@include border-top-left-radius(0);
							@include border-bottom-left-radius(0);
						}
					}
				}
			}
			.view-header {
				@extend .button;
				padding: 3px 5px;
				position: absolute;
				right: 0;
				top: 10px;
			}
		}
	}

	// Playlist Edit page
	body.page-playlist-edit {
		#block-block-7 {
			@extend .subheader;
			@extend .mobile-box;
		}

		#columns {
			@extend .mobile-box;

			.view-content {
				ul.draggableviews-processed {
					li.views-row {
						border: 1px dashed $gray;
						@extend .mobile-box;
						padding: 10px;
						width: 100%;
						margin: 10px 0;
						border-radius: 10px;

						.views-field-title {
							@extend .video-title;
						}
					}
				}

				#edit-actions {
					float: right;

					a {
						@extend .link-text;
						margin-right: 10px;
					}

					input {
						@extend .button;
						padding: 5px 10px;
					}
				}
			}
		}
	}

	.apachesolr_search-results {
		margin: 0 10px;
		.search-result {
			@extend .clearfix;
			padding: 20px 0;
			border-bottom: 1px solid #cecdcd;
			margin-bottom: 0px;
			.search-snippet-info {
				.search-snippet {
					width: 47%;
					margin-top: -3px;
					[class*="title"] {
						a {
							margin-bottom: 5px;
						}
					}
					.video-title {
						a {
							@extend .video-title;
						}
					}
					.snippet {
						@extend .body-text;
						margin-bottom: 10px;
						strong {
							font-weight: bold;
						}
					}
					.author {
						.profile {
							font-weight: bold;
						}
						a {
							color: #00abee;
						}
					}
					.category-search strong {
						font-weight: bold;
					}
				}
				.number_of_like {
					padding: 2px 10px 5px 25px;
					background-position: 6px 0px;
					position: relative;
					float: left;
					clear: both;
					top: -7px;
					right: 0;
				}
				.field_share {
					position: relative;
					float: left;
					clear: both;
					color: red;
					font-weight: bold;
					position: relative;
					top: -10px;
				}
				.image-block {
					margin: 0 3% 3% 0;
					float: left;
					width: 50%;
					height: auto;
					position: relative;
					margin-left: 0;
					.thumbnails {
						width: 100%;
						float: left;
					}
					.play-button {
						position: absolute;
						top: 20%;
						left: 30%;
						width: 40%;
						opacity: 0.75;
					}
					.video-search-duration {
						position: absolute;
						bottom: 2px;
						right: 0;
						left: auto;
						width: auto;
						height: auto;
						padding: 5px;
						font-size: 12px;
						font-weight: bold;
						font-family: Arial, sans-serif;
						background: #cccccc;
						color: #333333;
					}
				}
			}
		}
		.result-found {
			border-bottom: 0px;
		}
	}
	.page-search {
		.category-filter-toggle {
			margin-left: 0.3%;
			.filter-search-facet, .date-search-facet {
				@extend .link-text;
				display: block;
				width: 8%;
				float: left;
				padding: 8px 20px;
				background-color: #edefee;
				&.active {
					background-color: #666;
					color: white;
				}
			}
			.filter-pipe {
				float: left;
				display: block;
				background: #edefee;
				padding-top: 8px;
				padding-bottom: 8px;
			}
		}
		#block-apachesolr-sort-sort, #block-apachesolr-search-sort, #block-apachesolr-search-sort h2 {
			display: none;
		}
		#block-apachesolr-search-sort {
			position: absolute;
			top: 126px;
			left: 0;
			z-index: 1;
			width: 96%;
			margin: 0;
			margin-left: 11px;
			padding: 0;
			.item-list {
				float: none;
				background-color: #666;
				padding: 5%;
				ul {
					background-color: #edefee;
					li {
						float: none;
						display: block;
						border: none;
						text-align: left;
						margin: 0;
						padding: 0;
						a {
							display: block;
							padding: 10px;
							background-color: #edefee;
							color: #333333;
							&.active {
								background-color: $mck_blue;
								color: white;
							}
						}
					}
				}
			}
		}

		select#edit-apachesolr-sort-name {
			display: none;
		}
		#columns {
			.region-sidebar-first {
				display: none;
				position: absolute;
				top: 127px;
				left: 0;
				width: 90%;
				margin: 0;
				margin-left: 11px;
				overflow: hidden;
				overflow-y:auto; 
				.region-inner {
					background-color: #666;
					padding: 5%;
					position: relative;
					padding-bottom: 10%;
					#block-apachesolr-extend-clear-search-result {
						display: inline-block;
						float: right;
						.clear-search-result {
							p:nth-child(1) {
								display: none;
							}
							a {
								width: auto;
								background-color: #00abee;
								color: white;
								float: right;
								padding: 3px;
								text-align: center;
								position: absolute;
								top: auto;
								bottom: 0;
								right: 0;
								margin: 2% 5% 2% 5%;
								border-radius: 2px;
								@extend .button;
							}
						}
					}
					.block-facetapi-category, .block-facetapi-date ,.block-facetapi-library{
						background-color: #edefee;
						.item-list {
							background-color: #edefee;
						}
						h2 {
							position: relative;
							background-color: $mck_blue;
							color: white;
							padding: 6px;
							margin-bottom: 3px;
							&::after {
								content: "+";
								position: absolute;
								right: 5px;
							}
						}
						&.is-expanded {
							h2::after {
								content: "-";
							}
						}
						a, a:hover, a:focus, a:active {
							color: #333333;
						}
					}
					.block-facetapi-date{
						ul#facetapi-facet-apachesolrsolr-block-created li.leaf {
							line-height: 18px;
							margin-left: 10px;
						}
						.block-content {
							display: none;
						}
					}
				}
			}
		}
	}

	#block-apachesolr-extend-apachesolr-get-total-result {
		h2 {
			@extend .mobile-box;
			@extend .subheader;
		}
	}

	#block-search-form {
		display: none;
		top: 35px;
		z-index: 90;
		background-color: white;
		width: 100%;
		.apachesolr-autocomplete {
			border: 1px solid #666666;
			height: 32px;
			margin-top: 13px;
			padding: 0 10px;
			width: 90%;
			margin-right: 10px;
			margin-left: 10px;
			background-image: none;
		}
	}

	#infscr-loading img {
		width: auto;
		height: auto;
	}
	
	#block-menu-menu-global-mobile-menu,
	#block-menu-menu-main-menu-mobile, 
	#block-menu-menu-main-menu-mobile-ops,
	#block-menu-menu-main-menu-mobile-bto {
		.mobile-nav {
			.mobile-search {
				position: absolute;
				right: 10px;
				padding: 6px;
				top: 6px;
			}
			img {
				width: auto;
			}			
		}
	}

	// Comment delete page
	body.page-comment-delete-own {
		#block-system-main {
			form.confirmation {
				@extend .modal-box;

				.form-actions {
					input#edit-submit {
						// display: block;
						@extend .button;
						// color: $white;
						display: block;
						padding: 5px;
						float: left;
						background-color: #ffbdb7; // Old browsers
						@include filter-gradient(#ffbdb7, #cf0404, vertical); // IE6-9
						@include background-image(linear-gradient(top,  #ffbdb7 0%,#ff3019 46%,#cf0404 100%));
					}

					a#edit-cancel {
						@extend .link-text;
						display: inline-block;
						margin: 7px;
					}
				}
			}
		}
	}

	.download-link, .download-video {
		display: none;
	}
}