
/** Color Classes Css **/

/** Purple Color Css Classes **/

.color-purple .post-menu-strip .lib-name, .color-purple .post-menu-strip .lib-name a {
    color: #642f7a;
}

.color-purple #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .latest {
    background-color: #642f7a;
}

.color-purple #views_slideshow_controls_text_next_comments_recent-block a, .color-purple #views_slideshow_controls_text_next_logging-block a {
    background: url("images/arrow-r-big.png") no-repeat scroll center center #642f7a;
}

.color-purple #block-block-6 span {
    color: #642f7a;
}

.color-purple .view-home-page-video-listing .views-field-title a, .color-purple .view-listing-by-category .views-field-title a, .color-purple .view-listing-by-tags .views-field-title a, .color-purple .view-playlist .views-field-title a {
    color: #642f7a;
}

.color-purple .feat-videos-title a {
    color: #c0abc9;
}

.color-purple #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .title {
    background: url("images/quotes_bto.png") no-repeat scroll 8px center transparent;
}

.color-purple #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .author {
    color: #642f7a;
}

.color-purple #edit-tid-wrapper .jcarousel-skin-default .jcarousel-item a.active-tag {
    color: #642f7a;
}

.color-purple h1#page-title {
    color: #642f7a;
}

.color-purple .region-sidebar-second .view-related-video .views-field.views-field-title a {
    color: #642f7a;
}

.color-purple .region-secondary-content .region-inner #block-block-8 .block-inner .block-content.content p {
    color: #642f7a;
}

.color-purple .views-slideshow-pager-field-item.views_slideshow_pager_field_item.active .views-content-counter {
    background: url("images/img-purple.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.front .view-most-liked-lib-craousel .lib-title-color-purple a {
    color: #642f7a;
}

.front .view-most-liked-lib-craousel .library-color-purple {
    background-color: #642f7a;
}



/** Skyblue Color Css Classes **/

.color-skyblue .post-menu-strip .lib-name, .color-skyblue .post-menu-strip .lib-name a {
    color: #00abee;
}

.color-skyblue #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .latest {
    background-color: #00abee;
}

.color-skyblue #views_slideshow_controls_text_next_comments_recent-block a, .color-skyblue #views_slideshow_controls_text_next_logging-block a {
    background: url("images/arrow-r-big.png") no-repeat scroll center center #00abee;
}

.color-skyblue #block-block-6 span {
    color: #00abee;
}

.color-skyblue .view-home-page-video-listing .views-field-title a, .color-skyblue .view-listing-by-category .views-field-title a, .color-skyblue .view-listing-by-tags .views-field-title a, .color-skyblue .view-playlist .views-field-title a {
    color: #00abee;
}

.color-skyblue .feat-videos-title a {
    color: #98c1e1;
}

.color-skyblue #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .title {
    background: url("images/quotes-compete.png") no-repeat scroll 8px center transparent;
}

.color-skyblue #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .author {
    color: #00abee;
}

.color-skyblue #edit-tid-wrapper .jcarousel-skin-default .jcarousel-item a.active-tag {
    color: #00abee;
}

.color-skyblue h1#page-title {
    color: #00abee;
}

.color-skyblue .region-sidebar-second .view-related-video .views-field.views-field-title a {
    color: #00abee;
}

.color-skyblue .region-secondary-content .region-inner #block-block-8 .block-inner .block-content.content p {
    color: #00abee;
}

.color-skyblue .views-slideshow-pager-field-item.views_slideshow_pager_field_item.active .views-content-counter {
    background: url("images/img-skyblue.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.front .view-most-liked-lib-craousel .lib-title-color-skyblue a {
    color: #00abee;
}

.front .view-most-liked-lib-craousel .library-color-skyblue {
    background-color: #00abee;
}




/** Mahendi Color Css Classes **/

.color-mahendi .post-menu-strip .lib-name, .color-mahendi .post-menu-strip .lib-name a {
    color: #738102;
}

.color-mahendi #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .latest {
    background-color: #738102;
}

.color-mahendi #views_slideshow_controls_text_next_comments_recent-block a, .color-mahendi #views_slideshow_controls_text_next_logging-block a {
    background: url("images/arrow-r-big.png") no-repeat scroll center center #738102;
}

.color-mahendi #block-block-6 span {
    color: #738102;
}

.color-mahendi .view-home-page-video-listing .views-field-title a, .color-mahendi .view-listing-by-category .views-field-title a, .color-mahendi .view-listing-by-tags .views-field-title a, .color-mahendi .view-playlist .views-field-title a {
    color: #738102;
}

.color-mahendi .feat-videos-title a {
    color: #a3ac00;
}

.color-mahendi #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .title {
    background: url("images/quotes-entre.png") no-repeat scroll 8px center transparent;
}

.color-mahendi #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .author {
    color: #738102;
}

.color-mahendi #edit-tid-wrapper .jcarousel-skin-default .jcarousel-item a.active-tag {
    color: #738102;
}

.color-mahendi h1#page-title {
    color: #738102;
}

.color-mahendi .region-sidebar-second .view-related-video .views-field.views-field-title a {
    color: #738102;
}

.color-mahendi .region-secondary-content .region-inner #block-block-8 .block-inner .block-content.content p {
    color: #738102;
}

.color-mahendi .views-slideshow-pager-field-item.views_slideshow_pager_field_item.active .views-content-counter {
    background: url("images/img-mahendi.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.front .view-most-liked-lib-craousel .lib-title-color-mahendi a {
    color: #738102;
}

.front .view-most-liked-lib-craousel .library-color-mahendi {
    background-color: #738102;
}




/** Magenta Color Css Classes **/

.color-magenta .post-menu-strip .lib-name, .color-magenta .post-menu-strip .lib-name a {
    color: #ad0059;
}

.color-magenta #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .latest {
    background-color: #ad0059;
}

.color-magenta #views_slideshow_controls_text_next_comments_recent-block a, .color-magenta #views_slideshow_controls_text_next_logging-block a {
    background: url("images/arrow-r-big.png") no-repeat scroll center center #ad0059;
}

.color-magenta #block-block-6 span {
    color: #ad0059;
}

.color-magenta .view-home-page-video-listing .views-field-title a, .color-magenta .view-listing-by-category .views-field-title a, .color-magenta .view-listing-by-tags .views-field-title a, .color-magenta .view-playlist .views-field-title a {
    color: #ad0059;
}

.color-magenta .feat-videos-title a {
    color: #de98ba;
}

.color-magenta #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .title {
    background: url("images/quotes_ops.png") no-repeat scroll 8px center transparent;
}

.color-magenta #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .author {
    color: #ad0059;
}

.color-magenta #edit-tid-wrapper .jcarousel-skin-default .jcarousel-item a.active-tag {
    color: #ad0059;
}

.color-magenta h1#page-title {
    color: #ad0059;
}

.color-magenta .region-sidebar-second .view-related-video .views-field.views-field-title a {
    color: #ad0059;
}

.color-magenta .region-secondary-content .region-inner #block-block-8 .block-inner .block-content.content p {
    color: #ad0059;
}

.color-magenta .views-slideshow-pager-field-item.views_slideshow_pager_field_item.active .views-content-counter {
    background: url("images/img-magenta.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.front .view-most-liked-lib-craousel .lib-title-color-magenta a {
    color: #ad0059;
}

.front .view-most-liked-lib-craousel .library-color-magenta {
    background-color: #ad0059;
}





/** Orange Color Css Classes **/

.color-orange .post-menu-strip .lib-name, .color-orange .post-menu-strip .lib-name a {
    color: #e37222;
}

.color-orange #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .latest {
    background-color: #e37222;
}

.color-orange #views_slideshow_controls_text_next_comments_recent-block a, .color-orange #views_slideshow_controls_text_next_logging-block a {
    background: url("images/arrow-r-big.png") no-repeat scroll center center #e37222;
}

.color-orange #block-block-6 span {
    color: #e37222;
}

.color-orange .view-home-page-video-listing .views-field-title a, .color-orange .view-listing-by-category .views-field-title a, .color-orange .view-listing-by-tags .views-field-title a, .color-orange .view-playlist .views-field-title a {
    color: #e37222;
}

.color-orange .feat-videos-title a {
    color: #e37222;
}

.color-orange #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .title {
    background: url("images/quotes_org.png") no-repeat scroll 8px center transparent;
}

.color-orange #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .author {
    color: #e37222;
}

.color-orange #edit-tid-wrapper .jcarousel-skin-default .jcarousel-item a.active-tag {
    color: #e37222;
}

.color-orange h1#page-title {
    color: #e37222;
}

.color-orange .region-sidebar-second .view-related-video .views-field.views-field-title a {
    color: #e37222;
}

.color-orange .region-secondary-content .region-inner #block-block-8 .block-inner .block-content.content p {
    color: #e37222;
}

.color-orange .views-slideshow-pager-field-item.views_slideshow_pager_field_item.active .views-content-counter {
    background: url("images/img-orange.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.front .view-most-liked-lib-craousel .lib-title-color-orange a {
    color: #e37222;
}

.front .view-most-liked-lib-craousel .library-color-orange {
    background-color: #e37222;
}




/** Khakhi Color Css Classes **/

.color-khakhi .post-menu-strip .lib-name, .color-khakhi .post-menu-strip .lib-name a {
    color: #ceb003;
}

.color-khakhi #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .latest {
    background-color: #ceb003;
}

.color-khakhi #views_slideshow_controls_text_next_comments_recent-block a, .color-khakhi #views_slideshow_controls_text_next_logging-block a {
    background: url("images/arrow-r-big.png") no-repeat scroll center center #ceb003;
}

.color-khakhi #block-block-6 span {
    color: #ceb003;
}

.color-khakhi .view-home-page-video-listing .views-field-title a, .color-khakhi .view-listing-by-category .views-field-title a, .color-khakhi .view-listing-by-tags .views-field-title a, .color-khakhi .view-playlist .views-field-title a {
    color: #ceb003;
}

.color-khakhi .feat-videos-title a {
    color: #ceb003;
}

.color-khakhi #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .title {
    background: url("images/quotes-it.png") no-repeat scroll 8px center transparent;
}

.color-khakhi #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .author {
    color: #ceb003;
}

.color-khakhi #edit-tid-wrapper .jcarousel-skin-default .jcarousel-item a.active-tag {
    color: #ceb003;
}

.color-khakhi h1#page-title {
    color: #ceb003;
}

.color-khakhi .region-sidebar-second .view-related-video .views-field.views-field-title a {
    color: #ceb003;
}

.color-khakhi .region-secondary-content .region-inner #block-block-8 .block-inner .block-content.content p {
    color: #ceb003;
}

.color-khakhi .views-slideshow-pager-field-item.views_slideshow_pager_field_item.active .views-content-counter {
    background: url("images/img-khakhi.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.front .view-most-liked-lib-craousel .lib-title-color-khakhi a {
    color: #ceb003;
}

.front .view-most-liked-lib-craousel .library-color-khakhi {
    background-color: #ceb003;
}




/** Blue Color Css Classes **/

.color-blue .post-menu-strip .lib-name, .color-blue .post-menu-strip .lib-name a {
    color: #0066be;
}

.color-blue #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .latest {
    background-color: #0066be;
}

.color-blue #views_slideshow_controls_text_next_comments_recent-block a, .color-blue #views_slideshow_controls_text_next_logging-block a {
    background: url("images/arrow-r-big.png") no-repeat scroll center center #0066be;
}

.color-blue #block-block-6 span {
    color: #0066be;
}

.color-blue .view-home-page-video-listing .views-field-title a, .color-blue .view-listing-by-category .views-field-title a, .color-blue .view-listing-by-tags .views-field-title a, .color-blue .view-playlist .views-field-title a {
    color: #0066be;
}

.color-blue .feat-videos-title a {
    color: #98c1e1;
}

.color-blue #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .title {
    background: url("images/quotes-ndm.png") no-repeat scroll 8px center transparent;
}

.color-blue #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .author {
    color: #0066be;
}

.color-blue #edit-tid-wrapper .jcarousel-skin-default .jcarousel-item a.active-tag {
    color: #0066be;
}

.color-blue h1#page-title {
    color: #0066be;
}

.color-blue .region-sidebar-second .view-related-video .views-field.views-field-title a {
    color: #0066be;
}

.color-blue .region-secondary-content .region-inner #block-block-8 .block-inner .block-content.content p {
    color: #0066be;
}

.color-blue .views-slideshow-pager-field-item.views_slideshow_pager_field_item.active .views-content-counter {
    background: url("images/img-blue.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.front .view-most-liked-lib-craousel .lib-title-color-blue a {
    color: #0066be;
}

.front .view-most-liked-lib-craousel .library-color-blue {
    background-color: #0066be;
}




/** Red Color Css Classes **/

.color-red .post-menu-strip .lib-name, .color-red .post-menu-strip .lib-name a {
    color: #ff0000;
}

.color-red #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .latest {
    background-color: #ff0000;
}

.color-red #views_slideshow_controls_text_next_comments_recent-block a, .color-red #views_slideshow_controls_text_next_logging-block a {
    background: url("images/arrow-r-big.png") no-repeat scroll center center #ff0000;
}

.color-red #block-block-6 span {
    color: #ff0000;
}

.color-red .view-home-page-video-listing .views-field-title a, .color-red .view-listing-by-category .views-field-title a, .color-red .view-listing-by-tags .views-field-title a, .color-red .view-playlist .views-field-title a {
    color: #ff0000;
}

.color-red .feat-videos-title a {
    color: #ff0000;
}

.color-red #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .title {
    background: url("images/quotes_bto.png") no-repeat scroll 8px center transparent;
}

.color-red #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .author {
    color: #ff0000;
}

.color-red #edit-tid-wrapper .jcarousel-skin-default .jcarousel-item a.active-tag {
    color: #ff0000;
}

.color-red h1#page-title {
    color: #ff0000;
}

.color-red .region-sidebar-second .view-related-video .views-field.views-field-title a {
    color: #ff0000;
}

.color-red .region-secondary-content .region-inner #block-block-8 .block-inner .block-content.content p {
    color: #ff0000;
}

.color-red .views-slideshow-pager-field-item.views_slideshow_pager_field_item.active .views-content-counter {
    background: url("images/img-red.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.front .view-most-liked-lib-craousel .lib-title-color-red a {
    color: #ff0000;
}

.front .view-most-liked-lib-craousel .library-color-red {
    background-color: #ff0000;
}




/** Pink Color Css Classes **/

.color-pink .post-menu-strip .lib-name, .color-pink .post-menu-strip .lib-name a {
    color: #ff00b4;
}

.color-pink #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .latest {
    background-color: #ff00b4;
}

.color-pink #views_slideshow_controls_text_next_comments_recent-block a, .color-pink #views_slideshow_controls_text_next_logging-block a {
    background: url("images/arrow-r-big.png") no-repeat scroll center center #ff00b4;
}

.color-pink #block-block-6 span {
    color: #ff00b4;
}

.color-pink .view-home-page-video-listing .views-field-title a, .color-pink .view-listing-by-category .views-field-title a, .color-pink .view-listing-by-tags .views-field-title a, .color-pink .view-playlist .views-field-title a {
    color: #ff00b4;
}

.color-pink .feat-videos-title a {
    color: #ff00b4;
}

.color-pink #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .title {
    background: url("images/quotes_bto.png") no-repeat scroll 8px center transparent;
}

.color-pink #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .author {
    color: #ff00b4;
}

.color-pink #edit-tid-wrapper .jcarousel-skin-default .jcarousel-item a.active-tag {
    color: #ff00b4;
}

.color-pink h1#page-title {
    color: #ff00b4;
}

.color-pink .region-sidebar-second .view-related-video .views-field.views-field-title a {
    color: #ff00b4;
}

.color-pink .region-secondary-content .region-inner #block-block-8 .block-inner .block-content.content p {
    color: #ff00b4;
}

.color-pink .views-slideshow-pager-field-item.views_slideshow_pager_field_item.active .views-content-counter {
    background: url("images/img-pink.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.front .view-most-liked-lib-craousel .lib-title-color-pink a {
    color: #ff00b4;
}

.front .view-most-liked-lib-craousel .library-color-pink {
    background-color: #ff00b4;
}





/** Green Color Css Classes **/

.color-green .post-menu-strip .lib-name, .color-green .post-menu-strip .lib-name a {
    color: #1d8202;
}

.color-green #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .latest {
    background-color: #1d8202;
}

.color-green #views_slideshow_controls_text_next_comments_recent-block a, .color-green #views_slideshow_controls_text_next_logging-block a {
    background: url("images/arrow-r-big.png") no-repeat scroll center center #1d8202;
}

.color-green #block-block-6 span {
    color: #1d8202;
}

.color-green .view-home-page-video-listing .views-field-title a, .color-green .view-listing-by-category .views-field-title a, .color-green .view-listing-by-tags .views-field-title a, .color-green .view-playlist .views-field-title a {
    color: #1d8202;
}

.color-green .feat-videos-title a {
    color: #1d8202;
}

.color-green #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .title {
    background: url("images/quotes_bto.png") no-repeat scroll 8px center transparent;
}

.color-green #views_slideshow_cycle_teaser_section_logging-block .views-field-message-render .author {
    color: #1d8202;
}

.color-green #edit-tid-wrapper .jcarousel-skin-default .jcarousel-item a.active-tag {
    color: #1d8202;
}

.color-green h1#page-title {
    color: #1d8202;
}

.color-green .region-sidebar-second .view-related-video .views-field.views-field-title a {
    color: #1d8202;
}

.color-green .region-secondary-content .region-inner #block-block-8 .block-inner .block-content.content p {
    color: #1d8202;
}

.color-green .views-slideshow-pager-field-item.views_slideshow_pager_field_item.active .views-content-counter {
    background: url("images/img-green.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.front .view-most-liked-lib-craousel .lib-title-color-green a {
    color: #1d8202;
}

.front .view-most-liked-lib-craousel .library-color-green {
    background-color: #1d8202;
}
