/**
 * Latest Block Section
**/
.view-dynamic-channel-latest-section .latest_wrapper .latest_label {
    font-size: 17px;
    float: left;
    color: #FFFFFF;
    font-family: 'Georgia', serif;
    height: 52px;
    width: 102px;
    padding: 10px;
    line-height: 17px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.view-dynamic-channel-latest-section {
    position: relative;
    margin: 0 2px 20px 2px;
    height: 52px;
    background-color: #EDEFEF;
    overflow: hidden;
}

#views_slideshow_controls_text_next_dynamic_channel_latest_section-block a {
    background: url("images/arrow-r-big.png") no-repeat scroll center center;
    display: inline-block;
    height: 33px;
    width: 22px;
    position: absolute;
    padding: 8px 11px;
    text-indent: -9999em;
    z-index: 100;
    top: 3px;
    right: 0;
}

#views_slideshow_controls_text_next_featured_video_channels_landing_page-block a {
    background-color : transparent !important;
}


/**
 *  Featured Video Section
**/

#block-views-043c86251b7aa2b2e9f59aa9a26fca84 {
    background: none repeat scroll 0 0 #333333;
    height: 217px;
    margin-left: 3px;
    overflow: hidden;
    width: 964px;
    position: relative;
}

#views_slideshow_cycle_main_featured_video_channels_landing_page-block .views-slideshow-cycle-main-frame-row .views-slideshow-cycle-main-frame-row-item .field-content {
    width: 387px;
}

#views_slideshow_cycle_main_featured_video_channels_landing_page-block .views-field.views-field-field-upload-video {
    float: left;
    margin-left: 10px;
    margin-right: 14px;
    position: relative;
    width: 387px;
}

.view-featured-video-channels-landing-page #views_slideshow_controls_text_featured_video_channels_landing_page-block {
    bottom: 23px;
    left: 63px;
    z-index: 1;
}

#views_slideshow_controls_text_pause_featured_video_channels_landing_page-block {
    display: none;
}

.view-featured-video-channels-landing-page #widget_pager_bottom_featured_video_channels_landing_page-block,
.view-featured-video-channels-landing-page #views_slideshow_controls_text_featured_video_channels_landing_page-block {
    position: relative;
}

.view-featured-video-channels-landing-page #widget_pager_bottom_featured_video_channels_landing_page-block {
    left: 89px;
    z-index: 1;
}

#views_slideshow_controls_text_next_featured_video_channels_landing_page-block {
    left: 75px !important;
    position: relative;
    z-index: 1;
}

#block-views-featured-vedios-block {display: block !important;}