
#views_infinite_scroll-ajax-loader, .view-home-page-video-listing .view-content {clear:both;}
.view-home-page-video-listing .view-filters, .view-listing-by-tags .view-filters, .view-listing-by-category .view-filters, .view-playlist .view-filters {position:relative; bottom:52px; padding:17px 0 0; height:37px;}
.view-listing-by-tags .view-filters {height:auto;}
.view-home-page-video-listing .view-filters form {margin:0 !important; height:auto;}
  .view-playlist .view-filters {
   bottom: 32px;
    float: right;
    font-size: 12px;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    right: -17px;
}
.page-playlist-edit .view-playlist .view-filters {bottom:24px;}
.view-playlist .view-filters .views-exposed-widget.views-submit-button {display:none;}

#edit-name-wrapper {padding:0 1em 0 0;}
#edit-name-wrapper label {
  position: relative;
  top: 5px;
  left: -15px;
  float: left;
  font-size: 0.8em;
}
#edit-name.form-text.form-autocomplete {
  position: relative;
  padding: 5px;
  width: 170px;
  height: 15px;

  border: 1px solid #999999;
  background-position: 100% 6px;
  color: #666666;
  font-size: 11px;
}
input#edit-name.form-text.throbbing{background-position: 100% -14px;}
input#edit-name::-ms-clear {display: none;}
input.form-autocomplete::-ms-clear {display: none;}
.views-exposed-form .views-exposed-widget { position: relative; right: 0;padding:5px 0 0 0; color:#666666; line-height:1.2em; /*letter-spacing: -1px;*/}
.views-exposed-form .views-exposed-widget.views-widget-sort-by {position: absolute;}
.page-my-playlist .views-exposed-widget.views-widget-sort-by {position: relative;}
.views-exposed-form .views-exposed-widget label {    float: left;font-size: 11px;margin: 2px 0; line-height: 13px}
.views-exposed-form .views-widget-filter-field_library_tid label{margin: 2px 4px;}
.views-widget {float:left; width:182px;}
.bef-select-as-links, .view-listing-by-tags .bef-select-as-links {float:left;}
.bef-select-as-links .form-item {float:left;}
.bef-select-as-links .form-item .form-item {float:left; margin-top:3px; padding:0 .65em; border-left:1px solid #666666; font-weight:bold; line-height:1em;}
.bef-select-as-links .form-item .form-item:first-child {padding-left:1em; border-left:0; /*color:#000;*/}
/*.bef-select-as-links .form-item .form-item:first-child a {color:#000;} */

.view-listing-by-tags .views-exposed-widgets {position:relative;}
.view-listing-by-tags .views-exposed-widgets .views-widget-sort-by {position:absolute; /*left:240px; width:410px;*/}
/*.view-listing-by-tags .views-exposed-widgets #edit-sort-by-created a {color:#000;}*/



#edit-tid-wrapper{
   background: none repeat scroll 0 0 #EDEFEE;
    clear: both;
    left: -22px;
    margin-top: 24px;
    padding: 10px 1.05em;
    position: relative;
    width: 701px;
}
#edit-tid-wrapper .views-widget {clear:both; width:100%;}
#edit-tid-wrapper .bef-select-as-links .form-item .form-item { margin:0; padding:10px .5em 5px 0;width:31.5%; border:none; color:#000; font-size:12px;}
#edit-tid-wrapper .bef-select-as-links .form-item .form-item a {color:#000;}
#edit-tid-wrapper .bef-select-as-links .form-item .form-item.selected a {color:#e37222;}



#content-column .view-home-page-video-listing .view-content, #content-column .view-listing-by-category .view-content {position:relative; top:-20px; left: 20px;}
#content-column .view-listing-by-tags .view-content {top:-30px;}
.page-my-playlist #content-column .view-playlist .view-content {position:relative; /*top:-30px;*/ clear:both;}
/*.page-playlist-edit .view-playlist .view-content {position:relative; top:0px;} */

.view-playlist .views-row { position:relative; margin-bottom:0 !important; padding-bottom:25px;width:440px;}


.content-statistics {color:#333333;}

.page-my-playlist #block-block-6, .page-playlist-edit #block-block-6 { padding:10px 0;height:20px;}
.page-my-playlist #block-block-6 .browse-videos, .page-playlist-edit #block-block-6 .browse-videos {display:none;}
.page-my-playlist .view-playlist .view-header a { display: inline-block; padding:1px 7px; height: 16px;background:url(images/bluebtn_bg.png) 0 0 no-repeat; color:#fff; font-weight:bold; font-size:11px;}
.page-my-playlist .view-playlist .view-header a:hover {background:url(images/bluebtn_bg_h.png) 0 0 no-repeat; text-decoration: none;}

.page-playlist-edit .view-header { padding:10px 0 30px; height:20px;background-color:transparent; font-weight:bold;}



/*newsletter page css*/
.page-newsletter .region-sidebar-first {display:none;}
.page-newsletter #columns header, .page-newsletter #columns fieldset legend {display:none;}
#simplenews-subscriptions-page-form {     
   background: none repeat scroll 0 0 #EDEFEF;
    clear: both;
    color: #333333;
    display: block;
    font-weight: bold;
    overflow: hidden;
    padding: 0 12px 12px;
  }
#simplenews-subscriptions-page-form #edit-subscriptions {border: none;}
#simplenews-subscriptions-page-form #edit-subscriptions #edit-new { margin: 25px 0 0 0;font-size: 11px;}
#simplenews-subscriptions-page-form input#reset:hover {text-decoration: underline;}
/*#simplenews-subscriptions-page-form input#reset { position: absolute; right: 60px; bottom: 20px; margin-right: 10px; padding-right: 10px; border: none; border-right: 1px solid #999999; background: none; color: #333333;font-size: 11px;}
#simplenews-subscriptions-page-form input#edit-update {position: absolute; right: 20px; bottom: 18px; font-size: 9px;}
.page-newsletter #columns fieldset { margin:0; padding:20px 35px;border:0 none; background:#edefef;}*/
.page-newsletter #columns fieldset .fieldset-description {color:#333; font-weight:bold;}
.page-newsletter #columns fieldset #edit-newsletters .fequency {clear: both; overflow: hidden; width: 100%;}
.page-newsletter #columns fieldset #edit-newsletters .fequency .form-item {float:left; margin: 0; width:125px;}
.page-newsletter #columns fieldset #edit-newsletters .fequency .form-item-newsletters-54, 
.page-newsletter #columns fieldset #edit-newsletters .fequency .form-item-newsletters-52 { margin-right: 12px; }
.page-newsletter #columns fieldset #edit-newsletters .category_label { display: inline-block; margin: 0; margin-top: 10px; }
/*#simplenews-subscriptions-page-form .form-item-newsletters-4{margin-top: 3%;}
.page-newsletter #columns fieldset #edit-newsletters .form-item-newsletters-50 {margin-top: 3%;}*/
.form-item-newsletters-536{display: none;}


#edit-newsletters,
#edit-subscriptions,
#ops-newsletter,
#org-newsletter,
#bto-newsletter{
   clear: both;
    display: table;
    overflow: hidden;
    width: 98.5%;
}
#edit-subscriptions .fieldset-description{display: none;}
#edit-new{font-size: 17px; font-weight: bold;}
.main-cat{
  color: #FFFFFF;
    font-size: 17px;
    margin: 24px 0 0;
    padding: 6px 5px;
}
#org-collapsible,#bto-collapsible,#ops-collapsible{
   background-image: url("images/drop-right.png");
    background-position: 98% center;
    background-repeat: no-repeat;
}
#org-collapsible{
  background-color: #e27120;
}
#bto-collapsible{
  background-color: #632F7A;
}
#ops-collapsible{
  background-color: #ad0059;
}
#edit-newsletters .expanded-newsletter{
  background-image: url("images/drop-down.png");
}
#bto-newsletter,
#ops-newsletter,
#org-newsletter{
 background: none repeat scroll 0 0 #FFFFFF;
    margin-top: -4px;
    padding: 12px 24px;
}
#bto-newsletter .form-item-newsletters-457,
#ops-newsletter .form-item-newsletters-456,
#org-newsletter .form-item-newsletters-455{
    float: left;
    width: 30%;
}
#org-newsletter .form-item-newsletters-455{
        padding-bottom: 175px;
}
#bto-newsletter .form-item-newsletters-457{
      padding-bottom: 175px;
}
#ops-newsletter .form-item-newsletters-456{
  padding-bottom: 242px;
}

#bto-newsletter .category_label,
#bto-newsletter .form-item-newsletters-458,
#bto-newsletter .form-item-newsletters-459,
#bto-newsletter .form-item-newsletters-460,
#bto-newsletter .form-item-newsletters-461,
#bto-newsletter .form-item-newsletters-462,
#bto-newsletter .form-item-newsletters-463,
#ops-newsletter .category_label,
#ops-newsletter .form-item-newsletters-466,
#ops-newsletter .form-item-newsletters-467,
#ops-newsletter .form-item-newsletters-468,
#ops-newsletter .form-item-newsletters-469,
#ops-newsletter .form-item-newsletters-470,
#ops-newsletter .form-item-newsletters-471,
#org-newsletter .category_label,
#org-newsletter .form-item-newsletters-1,
#org-newsletter .form-item-newsletters-2,
#org-newsletter .form-item-newsletters-3,
#org-newsletter .form-item-newsletters-11,
#org-newsletter .form-item-newsletters-12,
#org-newsletter .form-item-newsletters-13{
  width: 60%;
}
#simplenews-subscriptions-page-form #reset,
#simplenews-subscriptions-page-form #edit-update{
  display: inline-block;
    float: right;
    margin: 6px 6px 0;
}

/*newsletter page css end*/

#edit-tid-wrapper .jcarousel-skin-default .jcarousel-container-horizontal, #edit-tid-wrapper .jcarousel-skin-default .jcarousel-clip-horizontal { overflow: hidden;width:580px; height:65px;}

/*#edit-tid-wrapper .jcarousel-skin-default ul.jcarousel-list {height:auto; width:1720px !important;}*/
#edit-tid-wrapper .jcarousel-skin-default .jcarousel-item {
  display:inline;
  overflow: hidden;
  /*padding:3px 3px 0 3px;*/
  width:185px;
  height: auto;
  border:0 none;
  background: none repeat scroll 0 0 transparent;
  list-style: none outside none;
  font-weight:bold;}
  #edit-tid-wrapper .jcarousel-skin-default .jcarousel-item a { display: inline-block; float: left; clear: both; overflow: hidden; padding: 3px; width: 180px; height: 15px;color:#000000; text-align: left; font-size: 12px;}
  #edit-tid-wrapper .jcarousel-skin-default .jcarousel-item a.active-tag {color: #E37222;}
  #edit-tid-wrapper .jcarousel-skin-default .jcarousel-item .form-type-bef-link {height:18px; text-align: left; font-size:12px;}

  #edit-tid-wrapper .jcarousel-skin-default .jcarousel-prev-horizontal, #edit-tid-wrapper .jcarousel-skin-default .jcarousel-next-horizontal { top:45px;width:21px; height:21px; cursor:pointer;}
  #edit-tid-wrapper .jcarousel-skin-default .jcarousel-prev-horizontal {background:url(images/arrow_prev.png) 0 0 no-repeat;}
  #edit-tid-wrapper .jcarousel-skin-default .jcarousel-next-horizontal {background:url(images/arrow_next.png) 0 0 no-repeat;}

  #edit-tid-wrapper .jcarousel-skin-default #tags-custom-carousel {display:block;}

  #edit-tid-wrapper #tags-custom-carousel, .page-tags #block-block-6 .browse-videos{display:none;}


  /* For ie 8 */
  @media \0screen {

   .bef-select-as-links .form-item .form-item:first-child {padding-left:.85em;}

 }

 /* For Chrome */
 @media screen and (-webkit-min-device-pixel-ratio:0) {

   .bef-select-as-links .form-item .form-item {padding:0 .4em;}
   .bef-select-as-links .form-item .form-item:first-child {padding:0 .75em;}
   .view-listing-by-tags .views-exposed-widgets .views-widget-sort-by {width:425px;}

 }
 /*hide jw player logo*/
 #content .jwplayer .jwlogo{display: none !important;}


 /** Parent Site Main menu**/

 #header {
  background: url("images/header-g.jpg") no-repeat scroll 0 0 #002440;
}



  .block-superfish {
   position: relative;
   top: 4px;
   display: inline-block;
   margin-left: 55px;
 }
 .block-superfish ul {
  margin: 0;
  padding: 1em 2em;
  background: none repeat scroll 0 0 #F5F5F5;
}
#menu-bar .sf-menu-main-navigation a.sf-depth-1{
  width: 128px;
  background: url("images/menu-g.png") repeat-x scroll 0 0 transparent;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
}
#superfish-1 li.sf-depth-1{
  margin: 0 1px !important ;
}
#menu-bar .sf-menu-main-navigation a.sf-depth-1:hover{
  background-image: url("images/menu-active.png");
}
#superfish-1 a.sf-depth-2{
  display: table;
  float: none;
  clear: both;
  overflow: hidden;
  font-size: 12px;
  line-height: 15px;
}
#superfish-1 ul li a.active{
  color: #00ACEE;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  left: 0;
  top: 2.68em;
}
/*#superfish-1 .sf-depth-2 .title,
#superfish-1 .sf-depth-1 .sf-description{
  padding-left: 12px;
  }*/
  #superfish-1 .sf-depth-2:hover{

    background: url("images/bullet.png") no-repeat 0 5px transparent;
  }
  #superfish-1 .sf-depth-2:hover .title{
    border-bottom: 1px solid #00ACEE;
  }
  .sf-menu-main-navigation .sf-description{
   display: block;
   color: #666666;
   font-size: 0.85em;
 }
 .sf-menu-main-navigation li.sf-depth-1 ul{
  padding: 0.5em;
  border: 1px solid #f5f5f5;
}
#superfish-1 li.sf-depth-1 ul li {
  display: block;
  float: none;
  margin: 12px 0;
}
.float-left{
  float: left;
}
.clear{
  clear: both;
}
.front  .region-secondary-content {
  margin: 0;
}
.popular-video-slide{
  display: block;
  clear: both;
  overflow: hidden;
}
.popular-video-slide .play-button {
  left: 45%;
    opacity: 1;
    position: absolute;
    top: 42%;
    width: 50px;
}
.popular-video-slide .play-button img{
  width: 50px;
}
.color-orange,
.org-in-action {
  color: #e27120;
}
.color-purple,
.bto-academy {
  color: #642f7a;
}
.color-magenta,
.ops-in-action {
  color: #ad0059;
}

.video-info h2{
 color: #0066BE;
 font-size: 13px;
 margin: 6px 0;
 padding: 0;
}
.video-info{
  float: left;
    margin-left: 40px;
    padding: 20px;
    width: 410px;
}
.thumbnail-comment{
  float: left;
  margin: 20px;
  width: 495px;
}
.video-thumb{   
  color: #999999;
    font-size: 14px;
    line-height: 14px;
    margin: 2px 0;
    position: relative;
  }
.video-thumb .image-style-featured-video-thumbnail {
  display: block;
  width: 495x;
  height: 260px;
}
.video-viewthumb img{
  width: 495px;
  height: auto;
}
.video-viewthumb{
  color: #999999;
    font-size: 14px;
    line-height: 14px;
    margin: 2px 0;
}

.cooment-info{
  color: #999999;
  font-size: 14px;
  line-height: 14px;
  margin: 5px 0 2px;
}
.popular-video-slide .video-title a{
  color: #E37222;
  display: inline-block;
  font-family: georgia,serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  margin: 4px 0 8px;
}
.video-body{
 font-family: georgia;
 font-size: 13px;
 margin: 6px 0 4px;
}
.video-view{
  color: #0066BE;
  font-size: 13px;
  font-weight: normal;
}
.video-view p{
  display: inline;
  margin: 0;
}
.video-view a{
  color: #0066BE;
}
.video-body p{
  margin: 0;
}

.cooment-info .video-views,
.cooment-info .video-count,
.cooment-info .video-commentcount,
 .new-video-duration, 
 .node-statistics span.field-content,
.new_video_duration,
.node-statistics-like span.field-content,
.view-most-trending div.new_video_duration,
.slideshow-bottom-content .totalcount,
.slideshow-bottom-content .count{
 background: url("images/icons-sprite.png") no-repeat scroll 0 0 transparent;
 display: inline;
 margin: 0 12px 0 0;
 padding-left: 20px;
   font-size: 13px;
  color: #999999;
}
.download-video-content img{
  width: 11px;
  height: 12px;
}

.cooment-info .video-views,
.node-statistics span.field-content{
  background-position: 0 -23px;
}
.cooment-info .video-count,
.node-statistics-like span.field-content{
  background-position: 5px -41px;
    left: -2px;
    position: relative;
}
.cooment-info .video-commentcount{
  background-position: 2px -64px;
}
.cooment-info .download-video-content{
 display: inline;
    float: right;
    margin-left: 6px;
    position: relative;
    right: 8px;
}
.play-button {
    left: 76%;
    opacity: 0.95;
    position: absolute;
    top: 55%;
    width: 20%;
}
.video-content {
  margin-right: 12px;
}
.region-sidebar-second .video-content {
  margin-right: 0;
}
/*
.pl-bn .video_duration{
  bottom: 6px;
  right: 1px;
  }*/
  .cooment-info .share{
    border-top: 1px solid #DADADA;
    color: #FFFFFF;
    font-weight: normal;
    line-height: 13px;
    margin: 12px 10px 12px 7px;
    padding: 8px 0 0;
    position: static;
  }
  .cooment-info .new-video-duration,
  .cooment-info .new_video_duration{
  background-position: 6px 1px;
    float: right;
    margin-top: -1px;
    position: relative;
    right: -10px;
    text-align: right;
 }
 .view-most-trending div.new_video_duration{
   background-position: 0 1px;
   margin-top: -1px;
   text-align: right;
   width: 30px;
 }
 .view-most-trending ul.pager li{
    margin: 0;
    padding: 0;
 }
  .view-most-trending ul.pager li a{

 }
 .view-most-trending ul.pager .pager-item a{
  background: url("images/pager-gray.png") no-repeat scroll 0 0 transparent;
  display: inline-block;
  height: 14px;
  text-indent: -99999px;
  width: 14px;
  position: relative;
  top: 2px;
}

.view-most-trending ul.pager .pager-item{
  margin: 0 2px;
}
.view-most-trending .throbber{
  display: none;
}
.view-most-trending ul.pager .pager-current{
  background: url("images/pager-blue-active.png") no-repeat scroll 0 0 transparent;
  display: inline-block;
  text-indent: -99999px;
  width: 14px;
  height: 14px;
  position: relative;
  top: 2px;
}
.view-most-trending ul.pager .pager-next a{
    background: url("images/arrow-next-blue.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 20px;
    text-indent: -99999px;
    width: 13px;
      margin: 0 6px;
}
.view-most-trending ul.pager .pager-previous a{
    background: url("images/arrow-prev-blue.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 20px;
    text-indent: -99999px;
    width: 13px;
    margin: 0 6px;
}
#block-views-global-popular-video-block{
  margin-bottom: 0px;
}
#block-views-global-popular-video-block .cooment-info span{
  margin: 0 6px;
}
.view-global-popular-video .view-footer,
.view-global-popular-video .view-content{
  position: relative;;
}
/*.view-global-popular-video .views-slideshow-controls-text{
 bottom: 23px;
 left: 110px;
 position: relative;
 z-index: 99;
}*/
.view-global-popular-video .views-slideshow-controls-bottom {
 left: 172px;
    position: absolute;
    top: 260px;
    z-index: 99;
}
#views_slideshow_controls_text_global_popular_video-block{
    position: absolute;
    top: -2px;

}
.view-global-popular-video .views-slideshow-pager-fields{
    left: 26px;
    position: relative;
}
.views-slideshow-pager-field-item{
  display: inline-block;
}
.views-slideshow-controls-text-previous{

} 
.views-slideshow-controls-text-previous a{
 display: inline-block;
 height: 20px;
 text-indent: -9999em;
 width: 13px;
 background: url("images/arrow-l.png") no-repeat scroll 0 0 transparent;
}
.view-global-popular-video .views-slideshow-controls-text-previous a{
 background: url("images/arrow-prev-blue.png") no-repeat scroll 0 0 transparent;
}
/*.views-slideshow-controls-text-next{
  position: relative;
  left: 116px;
}*/
.views-slideshow-controls-text-next a{
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("images/arrow-r.png") no-repeat scroll 0 0 transparent;
  text-indent: -9999em;
}
.view-global-popular-video .views-slideshow-controls-text-next a{
  background: url("images/arrow-next-blue.png") no-repeat scroll 0 0 transparent;
      background: url("images/arrow-next-blue.png") no-repeat scroll 0 0 transparent;
    left: 118px;
    position: relative;
}
#views_slideshow_controls_text_pause_global_popular_video-block{
  display: none;
}
.view-global-popular-video .views-slideshow-pager-field-item .views-content-counter{
 background: url("images/pager-gray.png") no-repeat scroll 0 0 transparent;
 margin: 0 -1px;
}
.view-global-popular-video .views_slideshow_pager_field_item.active .views-content-counter {
  background: url("images/pager-blue-active.png") no-repeat scroll 0 0 transparent;
}
#slideshow-nav a{
  /*    border-radius: 50%;*/
  display: inline-block;
  margin: 0 2px;
  width: 8px;
  height: 8px;
  border: 1px solid #666666;
  background: none repeat scroll 0 0 #FFFFFF;
  text-indent: -999999px;
}
#slideshow-nav {
  position: absolute;
  top: -33px;
  left: 100px;
  z-index: 9;
}
#slideshow-nav a.activeSlide,
#slideshow-nav a:hover{
  background: #808080;
}
.tertiary-left{
  width: 658px;
}
.tertiary-right{
 margin-top: -12px;
 margin-right: -10px;
 width: 297px;
 background: none repeat scroll 0 0 #EDEFEE;
}
.inline-block{
  display: inline-block;
}
#block-block-36{
  margin-bottom: 0;
}
#menu-strip-name,
.child-lib-name{
  display: none;
}
.block-content .post-menu-strip{
 clear: both;
 color: #FFFFFF;
 margin: 0 36px;
 overflow: hidden;
 padding: 0;
 width: 1020px;
}
.block-content .mstrip{
/*  padding: 0 1em;
  height: 40px;
  line-height: 40px;*/
}
/*.mstrip a{
  color: #fff;
  }*/
  .region-help {
    margin: 0;
  }
  .region-tertiary{
    margin: 0 20px;
  }
  .post-menu-strip .lib-name{
    font-family: georgia;
    font-size: 30px;
    font-weight: normal;
    margin-left: 20px;
  }
  .post-menu-strip .lib-name a {
    color: #E37222;
  }
  .post-menu-strip .default{
   color: #333;
   content: "make default";
   display: inline-block;
   font-size: 11px;
   margin: 0 10px;
   position: relative;
   text-transform: lowercase;
   top: 20px;
 }
   .post-menu-strip .default a{
    color: #333;
   }
 .post-menu-strip .resources{
   float: right;
    font-size: 13px;
    margin-right: 40px;
    position: relative;
    text-align: right;
    top: 21px;
    width: 100px;
 }

/*#block-views-global-popular-video-block .block-title,
#block-block-35 h1 {
  margin-left: 1em;
  color: #868686;
  font-size: 18px;
  }*/

  #block-views-global-popular-video-block .block-title{
    margin-left: 1em;
  }
/*  .available_channels_block,
  .view-most-liked-lib-craousel {
   float: left;
   margin: 16px 20px 16px 15px;
   width: 280px;
   border: 1px solid #FFFFFF;
   }*/
/* .available_channels_block .block-inner{
  
  }*/
  .available_channels_block .view-header,
  .available_channels_block .header,
  .view-most-liked-lib-craousel .header{
    overflow: hidden;
    padding: 5px 0 0;
  }
  .available_channels_block .view-content{

  }
/*.available_channels_block .view-content,
.available_channels_block .view-footer{
  margin: 0 10px;
  }*/
  .available_channels_block .view-header h4,
  .available_channels_block .header h4,
  .view-most-liked-lib-craousel .header h4{
   display: inline-block;
   float: left;
   font-family: georgia;
   font-size: 22px;
   font-weight: normal;
   margin: 0;
 }
 .view-most-liked-lib-craousel .header p{
  margin: 0;
}
.available_channels_block .lib_count,
.view-most-liked-lib-craousel .lib_count{
/* display: inline;
 float: right;
 margin: 0;
 font-size: 12px;*/
 display: none;
}
.available_channels_block .views-field-field-upload-video .field-content,
.view-most-liked-lib-craousel .views-field-field-upload-video .field-content{
  background: none repeat scroll 0 0 #F5F5F5;
  height: 175px;
  position: relative;
  width: 280px;
}
.available_channels_block .views-field-field-upload-video .field-content img,
.view-most-liked-lib-craousel .views-field-field-upload-video .field-content img{
  border: 1px solid #DADADA;
  height: auto;
  width: 280px;
}
.available_channels_block .views-field-field-upload-video .field-content .play-button img,
.view-most-liked-lib-craousel .views-field-field-upload-video .field-content .play-button img{
  border: medium none !important;
  height: 43px;
  width: 43px;
}

/*.available_channels_block .views-field-totalcount ,
.available_channels_block .views-field-count,
.available_channels_block .views-field-comment-count,
.view-most-liked-lib-craousel .views-field-totalcount ,
.view-most-liked-lib-craousel .views-field-count,
.view-most-liked-lib-craousel .views-field-comment-count{
  display: inline;
  margin: 0 4px;
  font-weight: bold;
  font-size: 11px;
  }*/
/*.available_channels_block .views-field-totalcount {
  margin-left: 12px;
  }*/
/*  .available_channels_block .views-field-totalcount ,
  .available_channels_block .views-field-count,
  .view-most-liked-lib-craousel .views-field-totalcount ,
  .view-most-liked-lib-craousel .views-field-count{
   padding-right: 4px;
   border-right: 1px solid #D1D1D1;
   }*/
/*   .available_channels_block .views-field-totalcount,
   .view-most-liked-lib-craousel .views-field-totalcount{
    margin-left: 0;
  }*/
  .available_channels_block .views-field-title,
  .view-most-liked-lib-craousel .views-field-title,{
    margin-top: 6px;
    margin-bottom: 2px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 12px;
    line-height: 21px;
  }
  .available_channels_block .views-field-title a,
  .view-most-liked-lib-craousel .views-field-title a{
   color: #333333;
   display: inline-block;
   font-size: 16px;
   line-height: 20px;
   margin: 0 0 4px;
 }
 .view-most-liked-lib-craousel .views-field-name-1{
  font-size: 13px;
  color: #1070c2;
}
.available_channels_block .views-field-body p,
.view-most-liked-lib-craousel .views-field-body p{
 font-size: 11px;
 font-weight: normal;
 margin: 0;
}
.available_channels_block .view-footer a,
.view-most-liked-lib-craousel .view-footer a{
 text-decoration: underline;
 font-weight: bold;
 font-size: 11px;
}
.available_channels_block  .field-content .play-button ,
.view-most-liked-lib-craousel  .field-content .play-button{
  position: absolute;
  top: 50px;
  left: 100px;
  width: 43px;
  opacity: 0.8;
}
.upload-video{
  position: relative;
}
.view-most-liked-lib-craousel .upload-video {
   background: none repeat scroll 0 0 #F5F5F5;
    height: 160px;
    overflow: hidden;
    position: relative;
    width: 260px;
}
 .view-related-video .upload-video {
   background: none repeat scroll 0 0 #F5F5F5;
    height: 87px;
    overflow: hidden;
    position: relative;
    width: 152px;
    margin-bottom: 20px;
}
/*.video-content{
  overflow: hidden;
  clear: both;
}*/
.view-related-video .views-field.views-field-body p{
   margin: 2px 0;
}
.view-related-video .new-video-duration {
    background-position: 0 4px;
    float: left;
    margin-left: 8px;
    width: 136px;
}
#block-block-35{
  margin-bottom: 0;
}
.front .content-inner section#main-content,
.front #content .block {
  margin: 0;
}
.front .content-inner {height: 0;}

#block-views-most-trending-block{
 margin: 0 0 22px 30px;
}
#block-views-most-trending-block .block-content{
  margin: 0 12px 12px 18px;
}



#block-views-most-liked-lib-craousel-block h2{
  border-bottom: 1px solid #CECDCD;
  clear: both;
  color: #0066BE;
  font-size: 13px;
  font-weight: bold;
   margin: -20px 40px 0;
  overflow: hidden;
  padding-bottom: 5px;
}
#block-views-most-trending-block h2{
  color: #0066BE;
  font-size: 13px;
  font-weight: bold;
  float: left;
}
#block-views-most-trending-block .item-list ul.pager{
   clear: none;
    float: left;
    margin: 10px 0 0;
}
#block-views-most-trending-block .view-content{
  clear: both;
  float: none;
  overflow: hidden;
  border-top: 1px solid #CECDCD;
  padding-top: 5px;
}

#block-block-7 .block-content p,
#block-block-35 h1{
  padding-bottom: 5px;
  border-bottom: 1px solid #676766;
  color: #3C3737;
  font-weight: normal;
  font-size: 18px;
  font-family: georgia;
}
#block-block-7 .block-content p{
  margin-top: 20px;
}
#block-block-35 h1{
  margin-left: 16px;
}
#block-views-most-trending-block h2,{
  margin: 28px 4px 12px;
}
#block-views-most-trending-block .views-field-field-upload-video{
 float: left;
 margin-right: 10px;
 margin-bottom: 12px;
 padding-bottom: 12px;
}
#block-views-most-trending-block .image-style-vedio-thumbnail {
 background: none repeat scroll 0 0 #F5F5F5;
 display: inline-block;
 height: 65px;
 width: 125px;
}
.view-most-trending .views-field-title a{
  color: #333;
  font-size: 13px;
  font-weight: bold;
  line-height: 13px;
}
.view-most-trending .video-content{
 margin-bottom: 20px;
    margin-right: 6px;
    width: 125px;
}
.view-home-page-video-listing .upload-video{
  background: none repeat scroll 0 0 #F5F5F5;
    height: 85px;
    width: 152px;
}
.view-home-page-video-listing .views-field-field-share,
.view-home-page-video-listing .views-field-nothing{
  display: inline;
}
/*.view-home-page-video-listing .video-content{
  width: 160px;
  overflow: hidden;
}*/
.view-home-page-video-listing .cooment-info{
  margin: 2px 0 0;
}
.cooment-info .video-views, .cooment-info .video-count, .cooment-info .video-commentcount,  .node-statistics span.field-content, .node-statistics-like span.field-content, .view-most-trending div.new_video_duration, .slideshow-bottom-content .totalcount, .slideshow-bottom-content .count {
  margin: 0 3px;
}
.view-most-trending .views-field-body{
  font-size: 12px;
}
.view-most-trending .views-field-body p{
  margin: 0;
}
.view-most-trending .views-field-title{
  display: inline-block;
  width: 68px;
  word-wrap: break-word;
}

.view-most-trending .views-field-field-upload-video .field-content {
  width: 100px;
  height: 85px;
}

.view-most-trending .field-content .play-button {
    left: 75%;
    top: 44%;
    width: 24%;
}
.view-most-trending .views-row{
  float: left;
    font-size: 12px;
    height: 130px;
    margin: 6px 26px 16px 0;
    overflow: hidden;
    width: 210px;
}
.view-most-trending .view-header{
 margin: 2px 0 20px;
 font-size: 12px;
 line-height: 17px;
}
.view-most-trending .view-header h4{
  margin: 12px 0;
  font-weight: normal;
  font-size: 14px;
  font-family: georgia;
}
/*.view-most-trending .views-field-totalcount,
.view-most-trending .views-field-count,
.view-most-trending .views-field-comment-count{
  display: inline;
  padding: 0 8px;
  font-weight: bold;
  font-size: 11px;
  line-height: 12px;
}
.view-most-trending .views-field-totalcount{
  border-right: 1px solid #333333;
    padding-left: 0;
}
.view-most-trending .views-field-comment-count{
  display: inline-block; 
  padding-left: 0;
  }*/

#block-block-9 .block-content p{
     color: #2175BF;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 0;
}
.ctools-modal-content{
  height: 210px !important;
  width: 250px !important;
}
#videolibrary-core-form .form-radios .form-type-radio{
  font-family: arial;
  font-size: 15px;
  font-weight: normal;
}

#videolibrary-core-form .form-radios .form-type-radio:nth-child(1){
  color: #082040;
}   
#videolibrary-core-form .form-radios .form-type-radio:nth-child(2){
  color: #632F7A;

}   
#videolibrary-core-form .form-radios .form-type-radio:nth-child(3){
  color: #AD0059;

}   
#videolibrary-core-form .form-radios .form-type-radio:nth-child(4){
  color: #E27121;
}
/*****************
Splash Page theming
******************/

.page-node-731 {}
.page-node-731 #menu-bar,
.page-node-731 #site-name,
.page-node-731 .region-menu-top,
.page-node-731 #page-title,
.page-node-731 #node-731 nav ul.links{
  display: none;
}
.page-node-731 .node .node-content {
    width: 100%;
}
.page-node-731 #columns,
.page-node-731 .content-inner section#main-content ,
.page-node-731 .node,
.page-node-731 #block-system-main,
.page-node-731 #footer{
    margin: 0;
}
.page-node-731 #logo img {
    margin: 8px 0;
    position: relative;
    top: 0;
    vertical-align: bottom;
}
.page-node-731 .node{

}
#splash-page{
  font-family: georgia;
  font-size: 24px;
}
.splash-arrow{
display: inline-block;
    height: 199px;
}
.splash-text p{
  margin-bottom: 12px;
}
.splash-text-url{
 margin: 2% 0 0 2%;
    width: 82%;
    float: none;
    display: inline-block;
}



.jcarousel-skin-default .jcarousel-container-horizontal {
   height: 300px;
    padding: 0 40px;
    width: 930px;
}

.jcarousel-skin-default .jcarousel-clip-horizontal {
  width: 930px;
}
.jcarousel-list{
  width: 100% !important;
}

#block-views-most-liked-lib-craousel-block .jcarousel-skin-default .jcarousel-item {
 border: medium none;
    height: 290px;
    margin: 0 22px;
    overflow: hidden;
    text-align: left;
    width: 262px;
}
#block-views-most-liked-lib-craousel-block .jcarousel-skin-default .jcarousel-next-disabled, 
#block-views-most-liked-lib-craousel-block .jcarousel-skin-default .jcarousel-prev-disabled {
    display: block;
}
#block-views-most-liked-lib-craousel-block .jcarousel-skin-default .jcarousel-next, .jcarousel-skin-default .jcarousel-prev {
    background-image: url("images/car-nav-sprite.png");
    display: block;
    height: 32px;
    width: 32px;
}
#block-views-most-liked-lib-craousel-block .jcarousel-skin-default .jcarousel-prev-horizontal {
    background-position: 8px 0;
      left: 15px;
    position: absolute;
    top: 120px;
  }
  #block-views-most-liked-lib-craousel-block .jcarousel-skin-default .jcarousel-prev-horizontal:hover{
    background-position: 3px -91px;
  }
  #block-views-most-liked-lib-craousel-block .jcarousel-skin-default .jcarousel-next-horizontal {
    background-position: 1px -48px;
    position: absolute;
    right: 32px;
    top: 120px;
  }
   #block-views-most-liked-lib-craousel-block  .jcarousel-skin-default .jcarousel-next-horizontal:hover {
    background-position: 1px -131px;
  }


#block-views-most-liked-lib-craousel-block-1{
  display: none;
}

.view-most-liked-lib-craousel .cooment-info {
clear: both;
overflow: hidden;
display: block;
}