
#views_infinite_scroll-ajax-loader, .view-home-page-video-listing .view-content {clear:both;}
.view-home-page-video-listing .view-filters, .view-listing-by-tags .view-filters, .view-listing-by-category .view-filters, .view-playlist .view-filters {position:relative; bottom:52px; height:37px; padding:17px 0 0;}
.view-listing-by-tags .view-filters {height:auto;}
.view-home-page-video-listing .view-filters form {margin:0 !important; height:auto;}
.view-playlist .view-filters {bottom:32px; float:right; height:auto; position:relative; right:0; padding:0;}
.page-playlist-edit .view-playlist .view-filters {bottom:24px;}
.view-playlist .view-filters .views-exposed-widget.views-submit-button {display:none;}

#edit-name-wrapper {padding:0 1em 0 0;}
#edit-name-wrapper label {
    float: left;
    font-size: 0.8em;
    left: -15px;
    position: relative;
    top: 5px;
}
#edit-name.form-text.form-autocomplete {
  background-position: 100% 6px;
  border: 1px solid #999999;
  height: 15px;
  position: relative;
  width: 170px;
  font-size: 11px;
  color: #666666;
  padding: 5px;
}
input#edit-name.form-text.throbbing{background-position: 100% -14px;}
input#edit-name::-ms-clear {display: none;}
input.form-autocomplete::-ms-clear {display: none;}
.views-exposed-form .views-exposed-widget {padding:5px 0 0 0; color:#666666; line-height:1.2em; /*letter-spacing: -1px;*/ position: relative; right: 0;}
.views-exposed-form .views-exposed-widget.views-widget-sort-by {position: absolute;}
.page-my-playlist .views-exposed-widget.views-widget-sort-by {position: relative;}
.views-exposed-form .views-exposed-widget label {float:left;}
.views-widget {float:left; width:182px;}
.bef-select-as-links, .view-listing-by-tags .bef-select-as-links {float:left;}
.bef-select-as-links .form-item {float:left;}
.bef-select-as-links .form-item .form-item {float:left; padding:0 .65em; border-left:1px solid #666666; font-weight:bold; line-height:1em; margin-top:3px;}
.bef-select-as-links .form-item .form-item:first-child {padding-left:1em; border-left:0; /*color:#000;*/}
/*.bef-select-as-links .form-item .form-item:first-child a {color:#000;} */

.view-listing-by-tags .views-exposed-widgets {position:relative;}
.view-listing-by-tags .views-exposed-widgets .views-widget-sort-by {position:absolute; /*left:240px; width:410px;*/}
/*.view-listing-by-tags .views-exposed-widgets #edit-sort-by-created a {color:#000;}*/


#edit-tid-wrapper {clear:both; width:98.5%; margin-top:8px; padding:10px 1.05em; position:relative; left:-20px; background:#EDEFEE;}
#edit-tid-wrapper .views-widget {clear:both; width:100%;}
#edit-tid-wrapper .bef-select-as-links .form-item .form-item {width:31.5%; margin:0; padding:10px .5em 5px 0; border:none; color:#000; font-size:12px;}
#edit-tid-wrapper .bef-select-as-links .form-item .form-item a {color:#000;}
#edit-tid-wrapper .bef-select-as-links .form-item .form-item.selected a {color:#e37222;}



#content-column .view-home-page-video-listing .view-content, #content-column .view-listing-by-category .view-content {position:relative; top:-20px;}
#content-column .view-listing-by-tags .view-content {top:-30px;}
.page-my-playlist #content-column .view-playlist .view-content {position:relative; /*top:-30px;*/ clear:both;}
/*.page-playlist-edit .view-playlist .view-content {position:relative; top:0px;} */

.view-playlist .views-row {width:440px; position:relative; margin-bottom:0 !important; padding-bottom:25px;}


.content-statistics {color:#333333;}

.page-my-playlist #block-block-6, .page-playlist-edit #block-block-6 {height:20px; padding:10px 0;}
.page-my-playlist #block-block-6 .browse-videos, .page-playlist-edit #block-block-6 .browse-videos {display:none;}
.page-my-playlist .view-playlist .view-header a {background:url(images/bluebtn_bg.png) 0 0 no-repeat; font-size:11px; font-weight:bold; color:#fff; padding:1px 7px; display: inline-block; height: 16px;}
.page-my-playlist .view-playlist .view-header a:hover {background:url(images/bluebtn_bg_h.png) 0 0 no-repeat; text-decoration: none;}

.page-playlist-edit .view-header {background-color:transparent; padding:10px 0 30px; height:20px; font-weight:bold;}




.page-newsletter .region-sidebar-first {display:none;}
.page-newsletter #columns header, .page-newsletter #columns fieldset legend {display:none;}
#simplenews-subscriptions-page-form {padding: 20px 35px 75px 35px; background: #edefef; position: relative; color: #333333; font-weight: bold; height: 350px;}
#simplenews-subscriptions-page-form #edit-subscriptions {border: none;}
#simplenews-subscriptions-page-form #edit-subscriptions #edit-new {font-size: 11px; margin: 25px 0 0 0;}
#simplenews-subscriptions-page-form input#reset:hover {text-decoration: underline;}
#simplenews-subscriptions-page-form input#reset {font-size: 11px; background: none; border: none; border-right: 1px solid #999999; color: #333333; position: absolute; right: 60px; bottom: 20px; margin-right: 10px; padding-right: 10px;}
#simplenews-subscriptions-page-form input#edit-update {position: absolute; bottom: 18px; right: 20px; font-size: 9px;}
/*.page-newsletter #columns fieldset {border:0 none; margin:0; padding:20px 35px; background:#edefef;}*/
.page-newsletter #columns fieldset .fieldset-description {color:#333; font-weight:bold;}
.page-newsletter #columns fieldset #edit-newsletters .fequency {width:450px;}
.page-newsletter #columns fieldset #edit-newsletters .fequency .form-item {float:left; clear:none; width:200px; margin: 0;}

.page-newsletter #columns fieldset #edit-newsletters .form-item-newsletters-1 {position: absolute; top: 120px;}
.page-newsletter #columns fieldset #edit-newsletters .form-item-newsletters-2 {position: absolute; top: 140px;}
.page-newsletter #columns fieldset #edit-newsletters .form-item-newsletters-3 {position: absolute; top: 160px;}
.page-newsletter #columns fieldset #edit-newsletters .form-item-newsletters-11 {position: absolute; top: 180px;}
.page-newsletter #columns fieldset #edit-newsletters .form-item-newsletters-12 {position: absolute; top: 200px;}
.page-newsletter #columns fieldset #edit-newsletters .form-item-newsletters-13 {position: absolute; top: 220px;}

#simplenews-subscriptions-page-form #edit-subscriptions #edit-new-1 {font-size: 11px; position: absolute; top: 190px;}
.page-newsletter #columns fieldset #edit-newsletters .form-item {clear:both;}
.page-newsletter #columns fieldset #edit-newsletters .form-item-newsletters-4.all-new-videos {padding-top: 20px;}
.page-newsletter #columns fieldset #edit-newsletters .form-item-newsletters-12 {/*margin-top: 40px;*/}
.page-newsletter #columns fieldset #edit-newsletters .form-item-newsletters-50 {position: absolute; top: 260px;}

#simplenews-subscriptions-page-form #edit-newsletters {position: relative; top: 10px;}
#simplenews-subscriptions-page-form #edit-newsletters .fequency {position: relative;}

#simplenews-subscriptions-page-form #edit-newsletters .fequency .form-item-newsletters-51 {position: relative; left: 200px;}
#simplenews-subscriptions-page-form #edit-newsletters .fequency .form-item-newsletters-52 {clear: both !important;}
#simplenews-subscriptions-page-form #edit-newsletters .fequency .form-item-newsletters-53 {clear: none !important;}
#simplenews-subscriptions-page-form #edit-newsletters .fequency .form-item-newsletters-54 {position: absolute;}

#edit-tid-wrapper .jcarousel-skin-default .jcarousel-container-horizontal, #edit-tid-wrapper .jcarousel-skin-default .jcarousel-clip-horizontal {width:580px; height:65px; overflow: hidden;}

/*#edit-tid-wrapper .jcarousel-skin-default ul.jcarousel-list {height:auto; width:1720px !important;}*/
#edit-tid-wrapper .jcarousel-skin-default .jcarousel-item {
    background: none repeat scroll 0 0 transparent;
    border:0 none;
    height: auto;
    list-style: none outside none;
    overflow: hidden;
    /*padding:3px 3px 0 3px;*/
    width:185px;
    display:inline;
    font-weight:bold;}
#edit-tid-wrapper .jcarousel-skin-default .jcarousel-item a {color:#000000; float: left; text-align: left; width: 180px; overflow: hidden; padding: 3px; clear: both; font-size: 12px; display: inline-block; height: 15px;}
#edit-tid-wrapper .jcarousel-skin-default .jcarousel-item a.active-tag {color: #E37222;}
#edit-tid-wrapper .jcarousel-skin-default .jcarousel-item .form-type-bef-link {height:18px; font-size:12px; text-align: left;}

#edit-tid-wrapper .jcarousel-skin-default .jcarousel-prev-horizontal, #edit-tid-wrapper .jcarousel-skin-default .jcarousel-next-horizontal {width:21px; height:21px; top:45px; cursor:pointer;}
#edit-tid-wrapper .jcarousel-skin-default .jcarousel-prev-horizontal {background:url(images/arrow_prev.png) 0 0 no-repeat;}
#edit-tid-wrapper .jcarousel-skin-default .jcarousel-next-horizontal {background:url(images/arrow_next.png) 0 0 no-repeat;}

#edit-tid-wrapper .jcarousel-skin-default #tags-custom-carousel {display:block;}

#edit-tid-wrapper #tags-custom-carousel, .page-tags #block-block-6 .browse-videos{display:none;}


/* For ie 8 */
@media \0screen {

	.bef-select-as-links .form-item .form-item:first-child {padding-left:.85em;}

}

/* For Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {

	.bef-select-as-links .form-item .form-item {padding:0 .4em;}
	.bef-select-as-links .form-item .form-item:first-child {padding:0 .75em;}
	.view-listing-by-tags .views-exposed-widgets .views-widget-sort-by {width:425px;}

}
/*hide jw player logo*/
#content .jwplayer .jwlogo{display: none !important;}

/** Parent Site Main menu**/
  .block-superfish {
  display: inline-block;
    left: -3px;
    position: relative;
    top: 6px;
}
  .block-superfish ul {
    background: none repeat scroll 0 0 #F5F5F5;
    margin: 0;
    padding: 1em 2em;
  }
  .sf-menu-main-navigation a.sf-depth-1{
    background: #333;
    color: #fff;
  }
  #superfish-1 li.sf-depth-1{
    margin: 0 1px !important ;
  }
  .sf-menu-main-navigation a.sf-depth-1:hover{
    background: #002664;
  }
  #superfish-1 a.sf-depth-2{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DADADA;
    color: #002664;
    height: 5em;
    line-height: 1.5em;
    padding: 0.5em ;
    white-space: normal ;
  }
  #superfish-1 a.sf-depth-2:hover{
    border: 1px solid #c1c1c1;
  }
  .sf-menu-main-navigation .sf-description{
   color: #666666;
   display: inline-block;
   font-size: 0.85em;
   line-height: 1.2em;
   margin: 4px 0;
 }
 .sf-menu-main-navigation li.sf-depth-1 ul{
   border: 1px solid #DADADA;
    padding: 0.5em;
    width: 64.3em !important;
 }
 #superfish-1 li.sf-depth-1 ul li {
  display: inline-block ;
  float: left ;
  margin: 0.5em 1em !important ;
  width: 15em;
}
.float-left{
  float: left;
}
.clear{
  clear: both;
}
.video-info,
.video-thumb{
   margin-left: 5%;
    margin-right: 5%;
    width: 40%;
}
.video-info{
  margin-top: 2em;
}
.video-title a{
   color: #666666;
    font-size: 1.1em;
    font-weight: bold;
}
.pl-bn{
  position: relative;
}
.cooment-info {
  bottom: 12px;
    color: #808080;
    font-size: 0.85em;
    font-weight: bold;
    position: absolute;
   /* text-shadow: 1px 1px 0 #454545;*/
}
.cooment-info span {
    margin: 0 6px;
}
.pl-bn .play-button {
   left: 135px;
    opacity: 0.8;
    position: absolute;
    top: -150px;
    width: auto;
}
.pl-bn .video_duration {
    bottom: 6px;
}
#slideshow-nav a{
  background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #666666;
/*    border-radius: 50%;*/
    display: inline-block;
    height: 8px;
    margin: 0 2px;
    text-indent: -999999px;
    width: 8px;
}
#slideshow-nav{
margin: 1em 4em 0 0;
    text-align: center;
}
#slideshow-nav a.activeSlide,
#slideshow-nav a:hover{
  background: #808080;
}
.tertiary-left{
  width: 600px;
}
.tertiary-right{
  width: 325px;
}
.inline-block{
  display: inline-block;
}
.post-menu-strip{
  color: #fff;
  width: 100%;
}
.mstrip{
  height: 40px;
    line-height: 40px;
    padding: 0 1em;
}
.mstrip a{
  color: #fff;
}
.lib-name{
background: #6b6b6b;
width: 60%;
font-weight: bold;
}
.default{
  background: none repeat scroll 0 0 #6B6B6B;
    font-size: 0.85em;
    font-style: italic;
    width: 10%;
}
.resources{
  background: none repeat scroll 0 0 #797979;
    text-align: center;
    width: 21%;
}

#block-views-global-popular-video-block .block-title,
#block-block-35 h1 {
    color: #868686;
      margin-left: 1em;
      font-size: 18px;
}

#block-views-global-popular-video-block .block-title{
  margin-left: 1em;
}
.available_channels_block {
    border: 1px solid #666666;
    float: left;
    margin: 12px;
    width: 260px;
}
.available_channels_block .block-inner{
/*  clear: both;*/
}
.available_channels_block .view-header{
      background: none repeat scroll 0 0 #C9C9C9;
    border-bottom: 1px solid #333333;
    margin: 0 0 6px;
    overflow: hidden;
    padding: 5px 4px 3px;
}
.available_channels_block .view-content,
.available_channels_block .view-footer{
  margin: 0 10px;
}
.available_channels_block .view-header h4{
  display: inline;
  float: left;
  margin: 0;
}
.available_channels_block .lib_count{
  display: inline;
    float: right;
    font-size: 11px;
    font-style: italic;
    margin: 0;
}
.available_channels_block .views-field-field-upload-video .field-content {
    border: 1px solid;
    height: 148px;
    position: relative;
    width: 238px;
}
.available_channels_block .views-field-field-upload-video .field-content img{
height: auto;
    width: 238px;
}
.available_channels_block .views-field-field-upload-video .field-content .play-button img{
height: 43px;
    width: 43px;
}

.available_channels_block .views-field-totalcount ,
.available_channels_block .views-field-count,
.available_channels_block .views-field-comment-count{
  color: #868686;
    display: inline;
    font-size: 11px;
    margin: 0 4px;
}
.available_channels_block .views-field-totalcount {
  margin-left: 12px;
}
.available_channels_block .views-field-totalcount ,
.available_channels_block .views-field-count{
   border-right: 1px solid #D1D1D1;
    padding-right: 4px;
}
.available_channels_block .views-field-title{
margin-top: 10px;
}
.available_channels_block .views-field-title a{
  color: #000;
}
.available_channels_block .views-field-body p{
margin: 0;
font-size: 12px;
}
.available_channels_block .view-footer a{
  font-size: 11px;
  text-decoration: underline;
}
.available_channels_block  .field-content .play-button {
    left: 100px;
    opacity: 0.8;
    position: absolute;
    top: 50px;
    width: 43px;
}
#block-block-35{
  margin-bottom: 0;
}
.front .content-inner section#main-content,
.front #content .block {
    margin: 0;
}
}
